@charset "UTF-8";
/* Обязательные форматы .TTF и .WOFF2 */
@font-face {
  font-family: "Calibri_Bold";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri/Calibri_Bold/Calibri_Bold.woff") format("woff"), url("../fonts/Calibri/Calibri_Bold/Calibri_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri_Regular";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri/Calibri_Regular/Calibri_Regular.woff") format("woff"), url("../fonts/Calibri/Calibri_Regular/Calibri_Regular.ttf") format("truetype");
}

.title-wrap {
  position: relative;
  padding: 0;
  margin: 0 auto 25px;
  display: block;
  text-align: center;
  color: #000;
}

/* Title */
h1, .h1-title, h2, .h2-title, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, .h1-title {
  font-size: 60px;
  line-height: 1.1;
}

h2, .h2-title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
}

.txt-box p,
.txt-box ul,
.txt-box ol,
.txt-box img,
.txt-box table {
  margin-bottom: 20px;
}

.txt-box img {
  display: block;
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

.txt-box ol {
  padding-left: 20px;
}

.txt-box ol li {
  list-style-type: decimal;
}

.txt-box ul li {
  position: relative;
  padding-left: 20px;
}

.txt-box ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 10px;
  height: 2px;
  background-color: #000;
}

.txt-box h1:not([class]), .txt-box .h1-title:not([class]),
.txt-box h2:not([class]),
.txt-box .h2-title:not([class]),
.txt-box h3:not([class]),
.txt-box h4:not([class]),
.txt-box h5:not([class]),
.txt-box h6:not([class]) {
  display: block;
  font-weight: normal;
  margin-bottom: 25px;
}

.txt-box h1, .txt-box .h1-title {
  font-size: 40px;
}

.txt-box h2, .txt-box .h2-title {
  font-size: 35px;
}

.txt-box h3 {
  font-size: 25px;
}

.txt-box h4 {
  font-size: 22px;
}

.txt-box h5 {
  font-size: 20px;
}

.txt-box h6 {
  font-size: 20px;
}

.txt-box a:not([class]), .txt-box .main-mnu .btn-sub-mnu:not([class]), .main-mnu .txt-box .btn-sub-mnu:not([class]) {
  text-decoration: underline;
  color: #F25B55;
}

/* Clearfix */
.clearfix::before, .tabs__caption::before, .clearfix::after, .tabs__caption::after {
  content: "";
  display: table;
}

.clearfix::after, .tabs__caption::after {
  clear: both;
}

.before,
.after {
  position: absolute;
  content: "";
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a, .main-mnu .btn-sub-mnu {
  outline: none !important;
  cursor: pointer;
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a:hover, .main-mnu .btn-sub-mnu:hover {
  text-decoration: underline;
  color: #F25B55;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

ol,
ul,
li,
form {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  font-weight: normal;
}

.hidden {
  display: none;
}

.loaded {
  margin-left: -1000px;
  margin-top: -1px;
  width: 10px;
  height: 1px;
  opacity: 0;
}

i[class*="-ic"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}

.arr-dn-ic {
  width: 14px;
  height: 14px;
  background-image: url("../img/_style/_svg/arr_dn.svg");
}

/* Обязательные форматы .TTF и .WOFF2 */
@font-face {
  font-family: "Calibri_Bold";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri/Calibri_Bold/Calibri_Bold.woff") format("woff"), url("../fonts/Calibri/Calibri_Bold/Calibri_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri_Regular";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri/Calibri_Regular/Calibri_Regular.woff") format("woff"), url("../fonts/Calibri/Calibri_Regular/Calibri_Regular.ttf") format("truetype");
}

.title-wrap {
  position: relative;
  padding: 0;
  margin: 0 auto 25px;
  display: block;
  text-align: center;
  color: #000;
}

/* Title */
h1, .h1-title, h2, .h2-title, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, .h1-title {
  font-size: 60px;
  line-height: 1.1;
}

h2, .h2-title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
}

.txt-box p,
.txt-box ul,
.txt-box ol,
.txt-box img,
.txt-box table {
  margin-bottom: 20px;
}

.txt-box img {
  display: block;
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

.txt-box ol {
  padding-left: 20px;
}

.txt-box ol li {
  list-style-type: decimal;
}

.txt-box ul li {
  position: relative;
  padding-left: 20px;
}

.txt-box ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 10px;
  height: 2px;
  background-color: #000;
}

.txt-box h1:not([class]), .txt-box .h1-title:not([class]),
.txt-box h2:not([class]),
.txt-box .h2-title:not([class]),
.txt-box h3:not([class]),
.txt-box h4:not([class]),
.txt-box h5:not([class]),
.txt-box h6:not([class]) {
  display: block;
  font-weight: normal;
  margin-bottom: 25px;
}

.txt-box h1, .txt-box .h1-title {
  font-size: 40px;
}

.txt-box h2, .txt-box .h2-title {
  font-size: 35px;
}

.txt-box h3 {
  font-size: 25px;
}

.txt-box h4 {
  font-size: 22px;
}

.txt-box h5 {
  font-size: 20px;
}

.txt-box h6 {
  font-size: 20px;
}

.txt-box a:not([class]), .txt-box .main-mnu .btn-sub-mnu:not([class]), .main-mnu .txt-box .btn-sub-mnu:not([class]) {
  text-decoration: underline;
  color: #F25B55;
}

/* Clearfix */
.clearfix::before, .tabs__caption::before, .clearfix::after, .tabs__caption::after {
  content: "";
  display: table;
}

.clearfix::after, .tabs__caption::after {
  clear: both;
}

.before,
.after {
  position: absolute;
  content: "";
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a, .main-mnu .btn-sub-mnu {
  outline: none !important;
  cursor: pointer;
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a:hover, .main-mnu .btn-sub-mnu:hover {
  text-decoration: underline;
  color: #F25B55;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

ol,
ul,
li,
form {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  font-weight: normal;
}

.hidden {
  display: none;
}

.btn-wrap {
  text-align: center;
}

.btn, .btn-form {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px 5px;
  height: 50px;
  border: 1px solid #F25B55;
  color: #000;
  font-size: 18px;
  font-family: "LoraRegular", sans-serif;
  min-width: 270px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.btn:hover, .btn-form:hover {
  color: #fff;
  background-color: #F25B55;
}

.btn:active, .btn-form:active {
  opacity: .8;
}

.btn-form {
  position: relative;
}

.btn-form input {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btn-dn {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #F25B55;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.btn-top {
  position: fixed;
  z-index: 555;
  left: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: #F25B55;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background-image: url("../img/_style/_svg/btn-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 20px 20px;
     -moz-background-size: 20px;
       -o-background-size: 20px;
          background-size: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.25);
  opacity: 0;
}

.btn-top.on {
  opacity: 1;
}

.toggle-btn {
  display: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  outline: none !important;
  position: relative;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  width: 40px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.toggle-btn span::after, .toggle-btn span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 4px;
  background-color: #000;
  -webkit-transition: .5s ease all;
  -o-transition: .5s ease all;
  -moz-transition: .5s ease all;
  transition: .5s ease all;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.toggle-btn span:after {
  top: 10px;
}

.toggle-btn.on {
  z-index: 50;
}

.toggle-btn.on span {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent !important;
}

.toggle-btn.on span::before {
  width: 40px;
  -webkit-transform: rotate(45deg) translate(7px, 7px);
     -moz-transform: rotate(45deg) translate(7px, 7px);
      -ms-transform: rotate(45deg) translate(7px, 7px);
       -o-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.toggle-btn.on span::after {
  width: 40px;
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
     -moz-transform: rotate(-45deg) translate(7px, -7px);
      -ms-transform: rotate(-45deg) translate(7px, -7px);
       -o-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.hidden {
  display: none !important;
}

.inner-pages {
  position: fixed;
  z-index: 5000;
  top: 15%;
  left: 0;
  display: inline-block;
  height: 62px;
  width: 35px;
  overflow: hidden;
  background-image: url("../img/_style/_svg/inner_pages.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}

.inner-pages:hover {
  overflow: visible;
}

.inner-pages:hover .page-links {
  opacity: 1;
}

.page-links {
  padding: 10px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  opacity: 0;
  min-height: 100%;
  white-space: nowrap;
  max-height: 85vh;
  overflow-y: auto;
}

.page-links a, .page-links .main-mnu .btn-sub-mnu, .main-mnu .page-links .btn-sub-mnu {
  display: block;
  padding: 3px;
  margin: 0 0 5px;
  line-height: 1.2em;
}

.page-links a:hover, .page-links .main-mnu .btn-sub-mnu:hover, .main-mnu .page-links .btn-sub-mnu:hover {
  color: blue;
}

.img-inner-box {
  position: relative;
  display: block;
  text-decoration: none !important;
  border: none !important;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.img-inner-box.img-contain {
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}

.img-inner-box img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100% !important;
  height: auto !important;
}

.img-inner-box .base-img {
  opacity: 0;
}

.img-inner-box .main-img {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Calibri_Regular', sans-serif;
  font-size: 18px;
  line-height: 1.85em;
  font-weight: normal;
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}

body.modal-open {
  touch-action: none;
  -ms-touch-action: none;
}

/* Прижатие футера */
/* Прижатие футера END */
/* Альтернатива прижатия футера */
body {
  overflow-x: hidden;
}

.wrapper {
  display: table;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layout {
  min-height: 300px;
  display: table-row;
  height: 100%;
}

.home-wrap, .page-wrap {
  display: table-cell;
  max-width: 320px;
}

/* Альтернатива прижатия футера END*/
.height-limit {
  max-height: 200px;
}

.wrapper.mCustomScrollbar {
  max-height: 100vh;
}

.wrapper.mCustomScrollbar > .mCustomScrollBox > .mCSB_container {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mCSB_inside > .mCSB_container {
  margin: 0 !important;
}

.int-expl .wrapper.mCustomScrollbar > .mCustomScrollBox > .mCSB_container {
  display: block;
}

.tabs__content {
  margin: 0 auto;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.tabs__content.active {
  padding: 0;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.tabs__caption-wrap {
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
  line-height: 1em;
}

.tabs__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
}

.tabs__caption > li {
  cursor: pointer;
  margin: 0 10px;
}

.tabs__caption > li > a, .main-mnu .tabs__caption > li > .btn-sub-mnu,
.tabs__caption > li > span {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  padding: 6px 25px 4px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  background-color: #f5f5f4;
}

.tabs__caption > li:hover {
  color: #F25B55;
}

.tabs__caption > li.active {
  color: #F25B55;
}

.tabs__caption > li.active:hover {
  color: #F25B55;
  cursor: default;
}

.show-tabs__content-btn {
  display: none;
  cursor: pointer;
}

.tabs-nav {
  display: none;
}

.tab-left,
.tab-right {
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 10px 20px;
     -moz-background-size: 10px 20px;
       -o-background-size: 10px 20px;
          background-size: 10px 20px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: .5;
}

.tab-left:hover,
.tab-right:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  opacity: 1;
}

.tab-left {
  left: 0;
  background-image: url("../img/_style/_svg/arr_l.svg");
}

.tab-right {
  right: 0;
  background-image: url("../img/_style/_svg/arr_r.svg");
}

@media only screen and (max-width: 576px) {
  .tabs-nav {
    display: block;
  }
  .tabs__caption-wrap {
    padding: 0 40px;
    margin: 0 -15px 40px;
  }
  .tabs__caption {
    width: 100%;
    position: relative;
    min-height: 40px;
  }
  .tabs__caption > li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
  }
  .tabs__caption > li > a, .main-mnu .tabs__caption > li > .btn-sub-mnu,
  .tabs__caption > li > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tabs__caption > li.active {
    height: auto;
  }
}

.parallax-box {
  min-height: 300px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-property: background-position;
  -o-transition-property: background-position;
  -moz-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  -moz-transition: .1s linear;
  transition: .1s linear;
}

.fancybox-content {
  cursor: pointer !important;
}

.fancybox,
.fancy-photo {
  display: block;
}

.cust-accordion {
  padding: 25px 0;
  display: block;
}

.cust-accordion > .accord-li {
  display: block;
  overflow: hidden;
}

.cust-accordion > .accord-li.open-start .accord-content {
  display: block;
}

.accord-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 35px 5px;
  font-size: 25px;
  line-height: 1.15em;
  text-transform: uppercase;
  min-height: 60px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  color: #456A64;
  border-bottom: 1px solid #F25B55;
}

.accord-btn .arr-dn-ic {
  height: 12px;
  width: 24px;
  min-width: 24px;
  background-image: url("../img/_style/_svg/arr_dn.svg");
  margin-top: -3px;
}

.accord-btn.on {
  background-color: #F25B55;
  color: #fff;
}

.accord-btn.on .arr-dn-ic {
  -webkit-filter: brightness(0) invert(100%);
          filter: brightness(0) invert(100%);
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accord-content {
  display: none;
}

.accord-content-inner {
  padding: 35px;
}

.cust-inp,
.cust-textarea {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.cust-inp span,
.cust-textarea span {
  display: block;
}

.cust-inp input,
.cust-textarea input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px 10px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
}

.cust-inp textarea,
.cust-textarea textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px;
  width: 100%;
  height: 130px;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
  resize: none;
}

.cust-inp *::-webkit-input-placeholder, .cust-textarea *::-webkit-input-placeholder {
  -webkit-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *:-moz-placeholder, .cust-textarea *:-moz-placeholder {
  -moz-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *::-moz-placeholder, .cust-textarea *::-moz-placeholder {
  -moz-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *:-ms-input-placeholder, .cust-textarea *:-ms-input-placeholder {
  -ms-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *::-ms-input-placeholder, .cust-textarea *::-ms-input-placeholder {
  -ms-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *::placeholder,
.cust-textarea *::placeholder {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #999;
}

.cust-inp *:focus,
.cust-textarea *:focus {
  border-color: #F25B55;
}

.cust-inp *:focus::-webkit-input-placeholder, .cust-textarea *:focus::-webkit-input-placeholder {
  opacity: 0;
}

.cust-inp *:focus:-moz-placeholder, .cust-textarea *:focus:-moz-placeholder {
  opacity: 0;
}

.cust-inp *:focus::-moz-placeholder, .cust-textarea *:focus::-moz-placeholder {
  opacity: 0;
}

.cust-inp *:focus:-ms-input-placeholder, .cust-textarea *:focus:-ms-input-placeholder {
  opacity: 0;
}

.cust-inp *:focus::-ms-input-placeholder, .cust-textarea *:focus::-ms-input-placeholder {
  opacity: 0;
}

.cust-inp *:focus::placeholder,
.cust-textarea *:focus::placeholder {
  opacity: 0;
}

.upload-field {
  margin-bottom: 15px;
}

.upload-field .field-notice {
  font-size: 15px;
  color: #222;
}

.upload-doc {
  position: relative;
}

.upload-doc:not(.empty) .upload-ic {
  display: none;
}

.upload-doc.empty .clear-btn {
  display: none;
}

.upload-doc.empty .upload-txt-btn {
  color: #637A85;
}

.upload-doc .upload-input {
  position: absolute;
  z-index: -2;
  width: 0;
  height: 0;
  opacity: 0;
}

.upload-doc .clear-btn {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px;
       -o-background-size: 16px;
          background-size: 16px;
  background-image: url("../img/_style/_svg/close.svg");
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.upload-doc .clear-btn:hover {
  opacity: .75;
}

.upload-txt-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 8px 60px 5px 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  position: relative;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

.upload-txt-btn .upload-ic {
  position: absolute;
  right: 0;
  top: 0;
}

.upload-ic {
  width: 60px;
  height: 50px;
  background-image: url("../img/_style/_svg/upload.svg");
}

.cust-sel {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}

.cust-sel .wpcf7-form-control-wrap {
  display: block;
  position: static;
}

.cust-sel .select2 {
  width: 100% !important;
  display: block;
  position: relative;
}

.cust-sel .select2 .selection {
  display: table;
  width: 100%;
}

.cust-sel .select2 .select2-selection__placeholder {
  color: #999;
}

.cust-sel .select2.select2-container--above ~ .select2-container .select2-dropdown {
  -webkit-border-bottom-left-radius: 0 !important;
     -moz-border-radius-bottomleft: 0 !important;
          border-bottom-left-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
     -moz-border-radius-bottomright: 0 !important;
          border-bottom-right-radius: 0 !important;
  -webkit-border-top-left-radius: 25px;
     -moz-border-radius-topleft: 25px;
          border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
     -moz-border-radius-topright: 25px;
          border-top-right-radius: 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: none;
}

.cust-sel .select2.select2-container--open {
  z-index: 9999;
}

.cust-sel .select2.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cust-sel .select2.select2-container--open .select2-selection {
  border-color: #F25B55 !important;
}

.cust-sel .select2.select2-container--open .select2-selection.select2-selection--multiple::after {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cust-sel .select2.select2-container--open ~ .select2-container .select2-dropdown {
  margin-top: 0;
}

.cust-sel .select2-selection {
  height: auto;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 1px solid #e5e5e5 !important;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 6px 50px 4px 20px;
}

.cust-sel .select2-selection.select2-selection--multiple::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background-image: url("../img/_style/_svg/arr_dn.svg");
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
       -o-background-size: 16px 16px;
          background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.cust-sel .select2-selection.select2-selection--multiple .select2-search--inline {
  line-height: 0;
}

.cust-sel .select2-selection.select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0 !important;
  padding-top: 10px;
  line-height: 0;
}

.cust-sel .select2-selection .select2-selection__choice {
  margin-top: 7px;
  margin-right: 7px;
}

.cust-sel .select2-search__field {
  margin-top: 4px !important;
  cursor: pointer;
}

.cust-sel .select2-selection__rendered {
  padding: 0 !important;
  line-height: inherit !important;
  color: inherit !important;
}

.cust-sel .select2-selection__arrow {
  height: auto !important;
  width: 50px !important;
  bottom: 1px;
  background-image: url("../img/_style/_svg/arr_dn.svg");
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
       -o-background-size: 16px 16px;
          background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.cust-sel .select2-selection__arrow b {
  display: none;
}

.cust-sel .select2-dropdown {
  border: 1px solid #e5e5e5;
  border-top: none;
  margin-top: -15px;
  -webkit-transition: .3s margin;
  -o-transition: .3s margin;
  -moz-transition: .3s margin;
  transition: .3s margin;
}

.cust-sel .select2-results__options {
  max-height: 300px !important;
}

.cust-sel .select2-results__option {
  padding: 6px 20px;
  border-bottom: 1px solid #eee;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
  background-color: #fff !important;
  color: #000 !important;
}

.cust-sel .select2-results__option:last-child {
  border-bottom: none;
}

.cust-sel .select2-results__option:hover {
  background-color: #F25B55 !important;
  color: #fff !important;
}

.cust-sel .select2-results__option[aria-selected$="true"] {
  background-color: #eee !important;
}

.cust-sel .select2-results__option[aria-selected$="true"]:hover {
  cursor: default;
  color: #000 !important;
}

.check-lst, .radio-lst {
  color: inherit;
  margin-bottom: 15px;
}

.check-lst .cust-check, .radio-lst .cust-check, .check-lst .cust-radio, .radio-lst .cust-radio,
.check-lst .wpcf7-list-item,
.radio-lst .wpcf7-list-item {
  margin-right: 40px;
}

.check-lst .cust-check:last-child, .radio-lst .cust-check:last-child, .check-lst .cust-radio:last-child, .radio-lst .cust-radio:last-child,
.check-lst .wpcf7-list-item:last-child,
.radio-lst .wpcf7-list-item:last-child {
  margin-right: 0;
}

.cust-check, .cust-radio,
.check-lst .wpcf7-list-item,
.radio-lst .wpcf7-list-item,
.policy-field .wpcf7-list-item {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cust-check label, .cust-radio label,
.check-lst .wpcf7-list-item label,
.radio-lst .wpcf7-list-item label,
.policy-field .wpcf7-list-item label {
  cursor: pointer;
  display: block;
  margin: 0;
}

.cust-check input, .cust-radio input,
.check-lst .wpcf7-list-item input,
.radio-lst .wpcf7-list-item input,
.policy-field .wpcf7-list-item input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.cust-check input:checked ~ .check-ic, .cust-radio input:checked ~ .check-ic, .cust-check input:checked ~ .radio-ic, .cust-radio input:checked ~ .radio-ic,
.cust-check input:checked ~ .wpcf7-list-item-label::before,
.cust-radio input:checked ~ .wpcf7-list-item-label::before,
.check-lst .wpcf7-list-item input:checked ~ .check-ic,
.radio-lst .wpcf7-list-item input:checked ~ .check-ic,
.check-lst .wpcf7-list-item input:checked ~ .radio-ic,
.radio-lst .wpcf7-list-item input:checked ~ .radio-ic,
.check-lst .wpcf7-list-item input:checked ~ .wpcf7-list-item-label::before,
.radio-lst .wpcf7-list-item input:checked ~ .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item input:checked ~ .check-ic,
.policy-field .wpcf7-list-item input:checked ~ .radio-ic,
.policy-field .wpcf7-list-item input:checked ~ .wpcf7-list-item-label::before {
  background-image: url("../img/_style/_svg/check.svg");
}

.cust-check input[type=radio] ~ .check-ic, .cust-radio input[type=radio] ~ .check-ic, .cust-check input[type=radio] ~ .radio-ic, .cust-radio input[type=radio] ~ .radio-ic,
.cust-check input[type=radio] ~ .wpcf7-list-item-label::before,
.cust-radio input[type=radio] ~ .wpcf7-list-item-label::before,
.check-lst .wpcf7-list-item input[type=radio] ~ .check-ic,
.radio-lst .wpcf7-list-item input[type=radio] ~ .check-ic,
.check-lst .wpcf7-list-item input[type=radio] ~ .radio-ic,
.radio-lst .wpcf7-list-item input[type=radio] ~ .radio-ic,
.check-lst .wpcf7-list-item input[type=radio] ~ .wpcf7-list-item-label::before,
.radio-lst .wpcf7-list-item input[type=radio] ~ .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item input[type=radio] ~ .check-ic,
.policy-field .wpcf7-list-item input[type=radio] ~ .radio-ic,
.policy-field .wpcf7-list-item input[type=radio] ~ .wpcf7-list-item-label::before {
  -webkit-border-radius: 10em;
     -moz-border-radius: 10em;
          border-radius: 10em;
  background-image: none;
}

.cust-check input[type=radio]:checked ~ .check-ic, .cust-radio input[type=radio]:checked ~ .check-ic, .cust-check input[type=radio]:checked ~ .radio-ic, .cust-radio input[type=radio]:checked ~ .radio-ic,
.cust-check input[type=radio]:checked ~ .wpcf7-list-item-label::before,
.cust-radio input[type=radio]:checked ~ .wpcf7-list-item-label::before,
.check-lst .wpcf7-list-item input[type=radio]:checked ~ .check-ic,
.radio-lst .wpcf7-list-item input[type=radio]:checked ~ .check-ic,
.check-lst .wpcf7-list-item input[type=radio]:checked ~ .radio-ic,
.radio-lst .wpcf7-list-item input[type=radio]:checked ~ .radio-ic,
.check-lst .wpcf7-list-item input[type=radio]:checked ~ .wpcf7-list-item-label::before,
.radio-lst .wpcf7-list-item input[type=radio]:checked ~ .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item input[type=radio]:checked ~ .check-ic,
.policy-field .wpcf7-list-item input[type=radio]:checked ~ .radio-ic,
.policy-field .wpcf7-list-item input[type=radio]:checked ~ .wpcf7-list-item-label::before {
  background-color: #000;
  border: 7px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #e5e5e5;
     -moz-box-shadow: 0 0 0 1px #e5e5e5;
          box-shadow: 0 0 0 1px #e5e5e5;
}

.check-lst .wpcf7-list-item-label, .radio-lst .wpcf7-list-item-label,
.policy-field .wpcf7-list-item-label {
  position: relative;
}

.check-lst .wpcf7-list-item-label::before, .radio-lst .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item-label::before {
  content: '';
}

.check-ic, .radio-ic, .check-lst .wpcf7-list-item-label::before, .radio-lst .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item-label::before {
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  -webkit-transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
}

.check-title, .radio-title, .check-lst .wpcf7-list-item-label, .radio-lst .wpcf7-list-item-label,
.policy-field .wpcf7-list-item-label {
  display: block;
  padding-left: 35px;
}

.check-title a, .radio-title a, .check-title .main-mnu .btn-sub-mnu, .main-mnu .check-title .btn-sub-mnu, .radio-title .main-mnu .btn-sub-mnu, .main-mnu .radio-title .btn-sub-mnu,
.check-lst .wpcf7-list-item-label a,
.radio-lst .wpcf7-list-item-label a,
.check-lst .wpcf7-list-item-label .main-mnu .btn-sub-mnu,
.main-mnu .check-lst .wpcf7-list-item-label .btn-sub-mnu,
.radio-lst .wpcf7-list-item-label .main-mnu .btn-sub-mnu,
.main-mnu .radio-lst .wpcf7-list-item-label .btn-sub-mnu,
.policy-field .wpcf7-list-item-label a,
.policy-field .wpcf7-list-item-label .main-mnu .btn-sub-mnu,
.main-mnu .policy-field .wpcf7-list-item-label .btn-sub-mnu {
  color: #2490F2;
  text-decoration: underline;
}

.check-title a:hover, .radio-title a:hover, .check-title .main-mnu .btn-sub-mnu:hover, .main-mnu .check-title .btn-sub-mnu:hover, .radio-title .main-mnu .btn-sub-mnu:hover, .main-mnu .radio-title .btn-sub-mnu:hover,
.check-lst .wpcf7-list-item-label a:hover,
.radio-lst .wpcf7-list-item-label a:hover,
.check-lst .wpcf7-list-item-label .main-mnu .btn-sub-mnu:hover,
.main-mnu .check-lst .wpcf7-list-item-label .btn-sub-mnu:hover,
.radio-lst .wpcf7-list-item-label .main-mnu .btn-sub-mnu:hover,
.main-mnu .radio-lst .wpcf7-list-item-label .btn-sub-mnu:hover,
.policy-field .wpcf7-list-item-label a:hover,
.policy-field .wpcf7-list-item-label .main-mnu .btn-sub-mnu:hover,
.main-mnu .policy-field .wpcf7-list-item-label .btn-sub-mnu:hover {
  text-decoration: none;
}

.modal {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.modal .modal-dialog {
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-top {
  height: 25px;
}

.modal-top .close {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/_style/_svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  cursor: pointer;
  outline: none !important;
  -webkit-background-size: 20px 20px;
     -moz-background-size: 20px;
       -o-background-size: 20px;
          background-size: 20px;
}

.modal-top .close:hover {
  opacity: .75;
}

.modal-body {
  text-align: center;
}

.modal-title {
  margin-bottom: 25px;
}

/* ================= Header ================= */
/*============= hover-dropdown =============*/
.hover-dropdown {
  overflow: hidden;
  position: relative;
  z-index: 9999;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hover-dropdown.hover {
  overflow: visible;
  z-index: 99999;
}

.hover-dropdown-btn {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.hover-dropdown-btn span {
  display: inline-block;
  vertical-align: middle;
}

.hover-dropdown-box {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 100%;
  line-height: 1em;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  margin-top: -5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.hover-dropdown-box ul {
  white-space: nowrap;
  color: #000;
}

.hover .hover-dropdown-box {
  margin-top: 0;
  opacity: 1;
  overflow: visible;
  max-height: none;
}

/*============= hover-dropdown END =============*/
.main-head, .inner-head {
  color: inherit;
  height: 100px;
  -webkit-box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
     -moz-box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
          box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
}

.head-top {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  min-width: 320px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
     -moz-box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
          box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1);
}

.head-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head-cell:first-child {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo-wrap {
  margin-right: auto;
  margin-left: 0;
}

.logo {
  display: block;
  color: #F25B55;
}

.logo span {
  font-size: 56px;
  line-height: 1;
  font-family: 'Calibri_Bold', sans-serif;
  letter-spacing: 5px;
}

.logo span::before {
  content: '#';
  font-size: 64px;
}

.logo:hover {
  text-decoration: none;
}

.main-mnu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

.main-mnu > li {
  position: relative;
  margin-right: 35px;
  font-family: 'Calibri_Bold', sans-serif;
  font-size: 27px;
  line-height: 1.35;
}

.main-mnu > li:last-child {
  margin-right: 0;
}

.main-mnu > li.cart-mobile {
  display: none;
}

.main-mnu li.active > a, .main-mnu li.active > .btn-sub-mnu,
.main-mnu li.active > span,
.main-mnu li.active > .main-lnk {
  color: #F25B55;
}

.main-mnu .arr-dn-ic {
  -webkit-transition: .2s transform;
  -o-transition: .2s transform;
  -moz-transition: .2s transform;
  transition: .2s transform;
}

.main-mnu .mnu-icon {
  width: 0;
}

.main-mnu .main-lnk {
  position: relative;
}

.btn-sub-mnu {
  z-index: 5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  outline: none !important;
  opacity: 0;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  display: none !important;
}

html.touch .btn-sub-mnu {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -moz-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.head-sett > li {
  margin-left: 25px;
}

.head-sett + .toggle-btn {
  margin-left: 25px;
}

.head-cart-link {
  width: 40px;
  height: 25px;
  margin-top: -5px;
  margin-left: -10px;
  background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat center/contain;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.home-slider-wrap {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: #F25B55;
  cursor: pointer;
  -webkit-transition: .3s background-color;
  -o-transition: .3s background-color;
  -moz-transition: .3s background-color;
  transition: .3s background-color;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 25px 25px;
     -moz-background-size: 25px;
       -o-background-size: 25px;
          background-size: 25px;
  overflow: hidden;
  color: transparent;
  border: none;
  outline: none !important;
}

.slick-arrow:hover {
  background-color: #ee2d26;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.container-fluid {
  padding-left: 140px;
  padding-right: 140px;
}

.promo {
  height: 600px;
  background: bottom center/cover no-repeat;
}

.sect-txt {
  margin-top: 50px;
}

.sect-txt p {
  line-height: 1.5;
}

.sect-txt h2, .sect-txt .h2-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.sect-txt ol li {
  list-style: decimal inside;
}

.woocommerce-ordering {
  position: relative;
}

.woocommerce-ordering::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  background: url(../img/_style/_svg/arr_dn.svg) no-repeat;
  background-image: url(../img/_style/_svg/arr_dn.svg);
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
       -o-background-size: 16px 16px;
          background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.orderby {
  position: relative;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px 4px 15px;
  padding-right: 50px;
  cursor: pointer;
}

.woocommerce .pswp {
  z-index: 5010;
}

.woocommerce .pswp .pswp__bg {
  opacity: .85 !important;
}

.woocommerce .pswp .pswp__caption__center {
  text-align: center;
}

.woocommerce .step-nav.nav-wizard {
  margin-top: 35px;
}

.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .form-row-first,
.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .form-row-last {
  width: auto;
  float: none;
}

.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper label {
  width: 37%;
}

.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .woocommerce-input-wrapper {
  width: 63%;
}

.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .woocommerce-input-wrapper #shipping_address_1,
.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .woocommerce-input-wrapper #shipping_address_2 {
  padding-left: 5px;
  padding-top: 3px;
}

.woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper #shipping_address_2_field {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.woocommerce .woocommerce-order {
  margin-top: 50px;
}

.woocommerce .woocommerce-order .woocommerce-customer-details .col-1,
.woocommerce .woocommerce-order .woocommerce-customer-details .col-2 {
  max-width: 100%;
  width: 48%;
}

.woocommerce .woocommerce-order .woocommerce-bacs-bank-details {
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #000;
}

.woocommerce .woocommerce-order .woocommerce-bacs-bank-details .bacs_details {
  margin: 10px 0 0;
}

.woocommerce .step-wrapper .woocommerce-gzdp-multistep-privacy-policy-checkbox-text a, .woocommerce .step-wrapper .woocommerce-gzdp-multistep-privacy-policy-checkbox-text .main-mnu .btn-sub-mnu, .main-mnu .woocommerce .step-wrapper .woocommerce-gzdp-multistep-privacy-policy-checkbox-text .btn-sub-mnu,
.woocommerce .step-wrapper .woocommerce-form__label-for-checkbox a,
.woocommerce .step-wrapper .woocommerce-form__label-for-checkbox .main-mnu .btn-sub-mnu,
.main-mnu .woocommerce .step-wrapper .woocommerce-form__label-for-checkbox .btn-sub-mnu {
  text-decoration: underline;
}

.woocommerce .step-wrapper .edit.step-trigger {
  text-decoration: underline;
}

.woocommerce #customer_login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.woocommerce #customer_login .col-1,
.woocommerce #customer_login .col-2 {
  max-width: 100%;
  width: 48%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.woocommerce #customer_login .col-1 h2, .woocommerce #customer_login .col-1 .h2-title,
.woocommerce #customer_login .col-2 h2,
.woocommerce #customer_login .col-2 .h2-title {
  margin-bottom: 2rem;
}

.woocommerce #customer_login .col-1 form,
.woocommerce #customer_login .col-2 form {
  margin-top: auto;
  min-height: 300px;
}

.woocommerce #customer_login .col-1 label,
.woocommerce #customer_login .col-2 label {
  margin-bottom: 0;
}

.woocommerce #customer_login .col-1 label.woocommerce-form-login__rememberme,
.woocommerce #customer_login .col-2 label.woocommerce-form-login__rememberme {
  margin-right: 15px;
}

.woocommerce #customer_login .col-1 .password-input,
.woocommerce #customer_login .col-2 .password-input {
  margin-left: 15px;
}

.woocommerce #customer_login .col-1 .show-password-input,
.woocommerce #customer_login .col-2 .show-password-input {
  top: 0.5rem;
}

.woocommerce #customer_login .col-1 #german_market_privacy_declaration,
.woocommerce #customer_login .col-2 #german_market_privacy_declaration {
  margin-right: 10px;
}

.woocommerce #customer_login .col-2 {
  width: 50%;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-form-row label {
  margin-right: 10px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-Address {
  margin-top: 15px;
  max-width: 50%;
  width: 48%;
  padding: 0;
}

.woocommerce .woocommerce-result-count {
  margin: 0;
  margin-top: 6px;
  color: #456A64;
}

.woocommerce ul.products {
  margin-right: -30px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.woocommerce ul.products li.product {
  position: relative;
  margin: 30px 25px 30px 0 !important;
  width: -webkit-calc(25% - 25px) !important;
  width: -moz-calc(25% - 25px) !important;
  width: calc(25% - 25px) !important;
  background-color: #f3f3f3;
  padding-bottom: 70px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.woocommerce ul.products li.product:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 10, 46, 0.1);
     -moz-box-shadow: 0px 10px 20px 0px rgba(4, 10, 46, 0.1);
          box-shadow: 0px 10px 20px 0px rgba(4, 10, 46, 0.1);
}

.woocommerce ul.products li.product a:not(.button), .woocommerce ul.products li.product .main-mnu .btn-sub-mnu:not(.button), .main-mnu .woocommerce ul.products li.product .btn-sub-mnu:not(.button) {
  display: block;
  padding: 13px 15px 0;
}

.woocommerce ul.products li.product a:not(.button) img, .woocommerce ul.products li.product .main-mnu .btn-sub-mnu:not(.button) img, .main-mnu .woocommerce ul.products li.product .btn-sub-mnu:not(.button) img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link {
  height: 78%;
}

.woocommerce ul.products li.product .onsale {
  margin: 0;
  top: 18px;
  right: 20px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  padding: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: #456A64;
  word-wrap: break-word;
}

.woocommerce ul.products li.product .price {
  color: #456A64;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.woocommerce ul.products li.product .button {
  position: absolute;
  bottom: 20px;
  margin: 0 0 0 15px;
  -webkit-border-radius: 56px;
     -moz-border-radius: 56px;
          border-radius: 56px;
  padding: 12px 20px;
  background-color: #456A64;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.woocommerce ul.products li.product .button:hover {
  background-color: #F25B55;
}

.woocommerce ul.products li.product .tax-info {
  padding-left: 15px;
  display: inline-block;
  margin-top: 5px;
}

.woocommerce ul.products li.product .shipping-costs-info {
  margin-top: 5px;
  font-size: 16px;
  display: inline-block;
  padding-left: 3px;
}

.woocommerce ul.products li.product .shipping-costs-info a, .woocommerce ul.products li.product .shipping-costs-info .main-mnu .btn-sub-mnu, .main-mnu .woocommerce ul.products li.product .shipping-costs-info .btn-sub-mnu {
  display: inline-block;
  padding: 0;
  text-decoration: underline;
}

.woocommerce ul.products li.product .delivery-time-info {
  padding-left: 15px;
  margin-top: 5px;
}

.woocommerce span.onsale {
  min-height: 0;
  min-width: 0;
  padding: 10px 15px;
  background-color: #F25B55;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.woocommerce-Tabs-panel--description a, .woocommerce-Tabs-panel--description .main-mnu .btn-sub-mnu, .main-mnu .woocommerce-Tabs-panel--description .btn-sub-mnu {
  text-decoration: underline;
}

.woocommerce-Tabs-panel--description ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.woocommerce-Tabs-panel--description ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.summary.entry-summary a, .summary.entry-summary .main-mnu .btn-sub-mnu, .main-mnu .summary.entry-summary .btn-sub-mnu {
  text-decoration: underline;
}

.woocommerce nav.woocommerce-pagination {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  border: none;
  margin: 0 5px;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers {
  padding: 2px 0 2px 1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #e5e5e5;
  color: #456A64;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers:hover {
  background-color: #456A64;
  color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers.current {
  background-color: #F25B55;
  color: #fff;
}

.products-categories {
  text-align: center;
}

.products-categories ul.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.products-categories ul.products li.product-category.product {
  margin: 0;
  padding-bottom: 20px;
}

.products-categories mark {
  background: none;
}

.main-products-section {
  padding: 30px 0 40px 0;
}

.not-found-wrap {
  padding-top: 200px;
}

.not-found {
  text-align: center;
}

.not-found h1, .not-found .h1-title {
  font-family: Calibri_Bold, sans-serif;
  font-size: 80px;
}

.not-found .btn, .not-found .btn-form {
  background-color: #F25B55;
  color: #fff;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

.not-found .btn:hover, .not-found .btn-form:hover {
  background-color: #fff;
  color: #F25B55;
}

.cart-section {
  padding-top: 100px;
}

.woocommerce table.cart td.actions .coupon .input-text {
  width: 200px;
  margin-right: 30px;
  padding: 8px;
  padding-left: 10px;
}

.woocommerce table.cart td.actions .button {
  background-color: #456A64;
  color: #fff;
  border: 1px solid #456A64;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding-top: 13px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.woocommerce table.cart td.actions .button:hover {
  background-color: #fff;
  color: #456A64;
  border: 1px solid #456A64;
}

.woocommerce table.cart td.product-remove a.remove, .woocommerce table.cart td.product-remove .main-mnu .remove.btn-sub-mnu, .main-mnu .woocommerce table.cart td.product-remove .remove.btn-sub-mnu {
  color: #F25B55 !important;
}

.woocommerce table.cart td.product-remove a.remove:hover, .woocommerce table.cart td.product-remove .main-mnu .remove.btn-sub-mnu:hover, .main-mnu .woocommerce table.cart td.product-remove .remove.btn-sub-mnu:hover {
  background: none;
}

.woocommerce .cart-collaterals .cart_totals h2, .woocommerce .cart-collaterals .cart_totals .h2-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.woocommerce .cart-collaterals .cart_totals .button {
  background-color: #F25B55;
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
}

.woocommerce .cart-collaterals .cart_totals .button:hover {
  background-color: #456A64;
}

.woocommerce .step-wrapper-3 {
  margin-bottom: 100px;
}

.woocommerce .step-wrapper-3 #place_order {
  margin-right: 0;
  margin-left: auto;
}

.woocommerce .step-wrapper-3 .step-buttons {
  margin-top: -45px;
}

.woocommerce-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top-color: #456A64;
}

.woocommerce-message::before {
  color: #456A64;
  top: 18px;
}

.woocommerce-message a, .woocommerce-message .main-mnu .btn-sub-mnu, .main-mnu .woocommerce-message .btn-sub-mnu {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #F25B55;
  text-decoration: underline;
  margin-left: 15px;
}

.woocommerce-message a.wc-forward, .woocommerce-message .main-mnu .wc-forward.btn-sub-mnu, .main-mnu .woocommerce-message .wc-forward.btn-sub-mnu {
  background-color: #456A64;
  color: #fff;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.woocommerce-message a.wc-forward:hover, .woocommerce-message .main-mnu .wc-forward.btn-sub-mnu:hover, .main-mnu .woocommerce-message .wc-forward.btn-sub-mnu:hover {
  background-color: #F25B55;
  color: #fff;
}

.woocommerce-info {
  margin-top: 30px;
  border-top-color: #456A64;
}

.woocommerce-info::before {
  color: #456A64;
}

.woocommerce-info a, .woocommerce-info .main-mnu .btn-sub-mnu, .main-mnu .woocommerce-info .btn-sub-mnu {
  margin-left: 15px;
  color: #F25B55;
  text-decoration: underline;
}

.woocommerce-error {
  border-top-color: #F25B55;
  margin-top: 30px;
}

.woocommerce-error::before {
  color: #F25B55;
}

.woocommerce .quantity .qty {
  background-color: #f3f3f3;
  border: 1px solid #eee;
  padding-left: 15px;
}

a.button.added::after, .main-mnu .button.added.btn-sub-mnu::after {
  font-size: 14px !important;
  vertical-align: middle !important;
}

html.touch .qty {
  padding-left: 0 !important;
}

.added_to_cart.wc-forward {
  position: absolute;
  bottom: 27px;
  right: 20px;
  overflow: hidden;
  width: 25px;
  height: 25px;
  background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat;
  color: rgba(0, 0, 0, 0) !important;
}

.checkout-section .checkout {
  padding-bottom: 50px;
}

.checkout-section .checkout .col2-set {
  margin-bottom: 50px;
}

.checkout-section .checkout .col2-set .col-1 {
  max-width: 50%;
  width: 48%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper {
  margin-top: 20px;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper label {
  width: 100%;
  margin: 0;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper {
  width: 100%;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper input {
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper input:focus {
  border-color: #F25B55;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper .select2-selection {
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper .select2-selection:focus {
  border-color: #F25B55;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper .select2-selection .select2-selection__arrow {
  height: auto !important;
  width: 50px !important;
  bottom: 10px;
  background-image: url(../img/_style/_svg/arr_dn.svg);
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
       -o-background-size: 16px 16px;
          background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper .select2-selection .select2-selection__arrow b {
  display: none;
}

.checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .form-row {
  width: 100%;
}

.checkout-section .checkout .col2-set .col-2 {
  max-width: 50%;
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper {
  margin-top: 20px;
}

.checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper label {
  margin: 0;
}

.checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper {
  width: 100%;
}

.checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper textarea {
  padding: 10px;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px 10px;
  width: 100%;
  height: 246px;
  font-size: 18px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
}

.checkout-section .checkout #order_review_heading {
  margin-bottom: 20px;
}

.checkout_coupon input {
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  display: block;
  padding: 13px 20px 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #000;
}

.checkout_coupon input:focus {
  border-color: #F25B55;
}

.checkout_coupon button.button {
  color: #fff;
  outline: none;
  background-color: #456A64;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  padding: 15px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.checkout_coupon button.button:hover {
  background-color: #F25B55;
  color: #fff;
}

.woocommerce button.button.alt {
  outline: none;
  background-color: #F25B55;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  padding: 15px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.woocommerce button.button.alt:hover {
  background-color: #456A64;
}

.product-category-section {
  padding-top: 40px;
}

.product-single-section {
  padding-top: 40px;
}

.product-single-section .woocommerce-breadcrumb {
  margin-bottom: 20px;
}

.product-single-section .woocommerce-product-gallery {
  max-width: 40% !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-single-section .product .summary.entry-summary {
  max-width: 60%;
  width: 55%;
}

.product-single-section .product .summary.entry-summary .cart button {
  margin-left: 20px;
  padding: 9px 30px 8px;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.product-single-section .product .summary.entry-summary .product_title {
  font-size: 50px;
  margin-bottom: 10px;
}

.product-single-section .product .summary.entry-summary .price ins .woocommerce-Price-amount {
  margin-left: 30px;
}

.woocommerce-tabs h2, .woocommerce-tabs .h2-title {
  font-size: 35px;
}

.woocommerce-tabs .tabs {
  border: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll !important;
}

.woocommerce-tabs .tabs::before {
  border-bottom: 1px solid #F25B55 !important;
}

.woocommerce-tabs .tabs li.active {
  border: 1px solid #F25B55 !important;
  border-bottom: 1px solid #fff !important;
}

.woocommerce-tabs .tabs li.active::before, .woocommerce-tabs .tabs li.active::after {
  border: none !important;
}

.woocommerce-tabs .tabs li::before {
  left: 0 !important;
  border: none !important;
}

.woocommerce-tabs .tabs li::after {
  right: 0 !important;
  border: none !important;
}

.product_meta .tagged_as {
  margin-left: 20px;
}

.related.products h2, .related.products .h2-title {
  font-size: 35px;
}

.modal-body {
  padding: 40px 30px 30px;
}

.modal-body label {
  text-align: left;
  display: block;
}

.modal-body .wpcf7-submit {
  margin-top: 20px;
  margin-left: 70px;
  background-color: #F25B55;
  color: #fff;
  border: none;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  padding: 5px 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.modal-body .wpcf7-submit:hover {
  background-color: #456A64;
}

.modal-body .cust-inp input,
.modal-body .cust-textarea input,
.modal-body .cust-textarea textarea {
  font-size: 18px;
}

.modal-body .wpcf7-list-item-label a, .modal-body .wpcf7-list-item-label .main-mnu .btn-sub-mnu, .main-mnu .modal-body .wpcf7-list-item-label .btn-sub-mnu {
  color: #F25B55;
  text-decoration: underline;
}

.modal-body .select2-selection.select2-selection--single {
  text-align: left;
}

.select2-results__option--highlighted {
  background-color: #456A64 !important;
}

.wpcf7-list-item {
  margin-left: 0 !important;
}

.main-foot, .inner-foot {
  color: inherit;
  background-color: #040a2e;
}

.foot-line {
  min-height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.foot-cell {
  width: 50%;
  color: #fff;
  font-size: 18px;
}

.foot-cell p {
  margin: 0;
}

.address-wrap {
  padding: 0 15px;
}

.contacts-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social-wrap a, .social-wrap .main-mnu .btn-sub-mnu, .main-mnu .social-wrap .btn-sub-mnu {
  margin-left: 15px;
  color: #fff;
}

.social-wrap a img, .social-wrap .main-mnu .btn-sub-mnu img, .main-mnu .social-wrap .btn-sub-mnu img {
  height: 30px;
  width: 30px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.social-wrap a:hover, .social-wrap .main-mnu .btn-sub-mnu:hover, .main-mnu .social-wrap .btn-sub-mnu:hover {
  text-decoration: none;
}

.social-wrap a:hover img, .social-wrap .main-mnu .btn-sub-mnu:hover img, .main-mnu .social-wrap .btn-sub-mnu:hover img {
  -webkit-filter: none;
          filter: none;
}

.foot-nav {
  margin-top: 16px;
}

.foot-nav a, .foot-nav .main-mnu .btn-sub-mnu, .main-mnu .foot-nav .btn-sub-mnu {
  padding-left: 5px;
}

.foot-nav a:not(:last-child), .foot-nav .main-mnu .btn-sub-mnu:not(:last-child), .main-mnu .foot-nav .btn-sub-mnu:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

/* ========================== Media Queries ========================== */
@media only screen and (min-width: 768px) {
  /*  */
}

@media only screen and (max-width: 1199px) {
  .logo span {
    font-size: 48px;
    letter-spacing: 5px;
  }
  .logo span::before {
    font-size: 48px;
  }
  .main-mnu > li {
    margin-right: 25px;
    font-size: 27px;
  }
  .woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper label {
    width: 40%;
  }
  .woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .woocommerce-input-wrapper {
    width: 60%;
  }
  .woocommerce .woocommerce-MyAccount-content .woocommerce-Address {
    max-width: 100%;
    width: 100%;
  }
  .woocommerce ul.products li.product a:not(.button) img, .woocommerce ul.products li.product .main-mnu .btn-sub-mnu:not(.button) img, .main-mnu .woocommerce ul.products li.product .btn-sub-mnu:not(.button) img {
    height: 180px;
  }
  .woocommerce ul.products li.product .price {
    font-size: 16px;
  }
  .woocommerce ul.products li.product .price del {
    margin-right: 80px;
  }
  .woocommerce ul.products li.product .button {
    margin-left: 10px;
    font-size: 14px;
    padding: 12px 17px;
  }
  .woocommerce ul.products li.product .tax-info {
    margin-bottom: 0;
  }
  .woocommerce ul.products li.product .shipping-costs-info {
    padding-left: 15px;
    margin: 0;
  }
  .woocommerce ul.products li.product .shipping-costs-info a, .woocommerce ul.products li.product .shipping-costs-info .main-mnu .btn-sub-mnu, .main-mnu .woocommerce ul.products li.product .shipping-costs-info .btn-sub-mnu {
    padding: 0;
  }
  .woocommerce ul.products li.product .woocommerce-loop-product__link {
    height: 73%;
  }
  .added_to_cart.wc-forward {
    right: 10px;
    width: 22px;
    height: 22px;
  }
  a.button.added::after, .main-mnu .button.added.btn-sub-mnu::after {
    font-size: 10px !important;
    vertical-align: middle !important;
  }
  .product-single-section .product .summary.entry-summary .product_title {
    font-size: 45px;
  }
  .related.products h2, .related.products .h2-title {
    font-size: 30px;
  }
  .woocommerce-tabs h2, .woocommerce-tabs .h2-title {
    font-size: 30px;
  }
  .woocommerce .cart-collaterals .cart_totals h2, .woocommerce .cart-collaterals .cart_totals .h2-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1440px) {
  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .toggle-btn {
    display: inline-block;
  }
  html.touch .btn-sub-mnu {
    display: none !important;
  }
  .head-cart-link {
    display: none;
  }
  .mnu-wrap {
    display: none;
    position: absolute;
    z-index: 50;
    right: -25px;
    top: -21px;
    width: 280px;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    padding: 16px 0 0 16px;
    -webkit-transform: translate(100%, 0);
       -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
         -o-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }
  .mnu-wrap.open {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .mnu-wrap.open li.cart-mobile {
    display: block;
  }
  .main-mnu {
    display: block;
    border: none;
  }
  .main-mnu .arr-dn-ic {
    display: inline-block;
  }
  .main-mnu li {
    border: none;
    font-size: 20px;
  }
  .main-mnu > li {
    padding-top: 10px;
    width: 100%;
  }
  .main-mnu > li > a, .main-mnu > li > .btn-sub-mnu,
  .main-mnu > li > span,
  .main-mnu > li > .main-lnk {
    padding: 8px 0 8px 0;
    height: auto;
  }
  .main-mnu a:hover, .main-mnu .btn-sub-mnu:hover {
    text-decoration: underline;
  }
  .sub-mnu {
    display: block;
    position: static;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
    white-space: nowrap;
    height: auto;
    overflow: visible;
  }
  .sub-mnu ul {
    opacity: 1;
    background-color: #fff;
    border: none;
  }
  .sub-mnu ul::before {
    display: none;
  }
  .sub-mnu li {
    font-size: 18px;
    line-height: 1.35;
    width: 90%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding: 8px 20px;
  }
  .foot-cell {
    font-size: 16px;
  }
  .woocommerce #customer_login .col-1,
  .woocommerce #customer_login .col-2 {
    width: 100%;
  }
  .woocommerce .woocommerce-order .woocommerce-customer-details .col-1,
  .woocommerce .woocommerce-order .woocommerce-customer-details .col-2 {
    width: 100%;
  }
  .woocommerce .woocommerce-order .woocommerce-customer-details .col-2 {
    margin-top: 20px;
  }
  .woocommerce ul.products li.product {
    width: -webkit-calc(33.33% - 30px) !important;
    width: -moz-calc(33.33% - 30px) !important;
    width: calc(33.33% - 30px) !important;
  }
  .woocommerce ul.products li.product .button {
    margin-left: 14px;
  }
  .added_to_cart.wc-forward {
    right: 14px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /*  */
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mnu-wrap {
    right: -15px;
  }
  .toggle-btn.on span {
    right: 0;
  }
  .main-head, .inner-head {
    height: 65px;
  }
  .head-top {
    height: 65px;
  }
  .logo span {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .logo span::before {
    font-size: 45px;
  }
  .sect-txt {
    margin-top: 30px;
  }
  .txt-box {
    font-size: 16px;
    line-height: 1.75;
  }
  .txt-box h2, .txt-box .h2-title {
    font-size: 30px;
    margin-bottom: 15px !important;
  }
  .foot-line {
    height: 250px;
    padding: 10px 0;
  }
  .foot-cell {
    width: 100%;
  }
  .contacts-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address-wrap {
    padding: 0;
  }
  .woocommerce ul.products li.product .price {
    font-size: 16px;
  }
  .woocommerce ul.products li.product .price del {
    margin-right: 80px;
  }
  .woocommerce ul.products li.product .button {
    margin-left: 10px;
  }
  .added_to_cart.wc-forward {
    right: 10px;
  }
  .checkout-section .checkout .col2-set .col-1 {
    max-width: 100%;
    width: 100%;
  }
  .checkout-section .checkout .col2-set .col-2 {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
  }
  .checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper textarea {
    height: 150px;
  }
  .product-single-section .woocommerce-product-gallery {
    float: left !important;
  }
  .product-single-section .product .summary.entry-summary {
    float: right !important;
    max-width: 50%;
    width: 50%;
  }
  .product-single-section .product .summary.entry-summary .product_title {
    font-size: 35px;
  }
  .related.products h2, .related.products .h2-title {
    font-size: 25px;
  }
  .woocommerce-tabs h2, .woocommerce-tabs .h2-title {
    font-size: 25px;
  }
  .woocommerce-tabs .tabs {
    font-size: 16px;
  }
  .woocommerce-tabs .tabs li {
    height: 40px;
  }
  .woocommerce table.cart .cart_item {
    position: relative;
  }
  .woocommerce table.cart td.product-remove {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .woocommerce table.cart td.product-thumbnail {
    display: block;
    position: absolute;
    top: 0;
    padding: 6px 12px 4px;
    border: none;
  }
  .woocommerce table.cart td.product-thumbnail::before {
    display: none;
  }
  .woocommerce table.cart td.actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .woocommerce table.cart td.actions .coupon {
    padding-bottom: 20px;
  }
  .cart-section {
    padding-top: 30px;
  }
  .cart-section .coupon .input-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .not-found h1, .not-found .h1-title {
    font-size: 30px;
  }
  .not-found h2, .not-found .h2-title {
    font-size: 25px;
  }
  .product-single-section .woocommerce-product-gallery {
    float: none !important;
    max-width: 100% !important;
  }
  .product-single-section .product .summary.entry-summary {
    float: none !important;
    max-width: 100%;
    width: 100%;
  }
  .txt-box h2, .txt-box .h2-title {
    font-size: 25px;
  }
  .product-category-section h1, .product-category-section .h1-title {
    font-size: 40px;
  }
  .woocommerce-message {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .woocommerce-message a.button, .woocommerce-message .main-mnu .button.btn-sub-mnu, .main-mnu .woocommerce-message .button.btn-sub-mnu {
    margin: 15px 0 10px -20px !important;
  }
  .woocommerce-message,
  .woocommerce-info,
  .woocommerce-error {
    font-size: 14px;
    line-height: 1.5;
  }
  .checkout_coupon {
    font-size: 14px;
  }
  .checkout_coupon .form-row {
    width: 100% !important;
  }
  .woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper label {
    width: 100%;
  }
  .woocommerce #customer_details .col-2 .woocommerce-shipping-fields .shipping_address .woocommerce-shipping-fields__field-wrapper .woocommerce-input-wrapper {
    width: 100%;
  }
  .woocommerce ul.products li.product .woocommerce-loop-product__link {
    height: 82%;
  }
  .logo span {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 65px;
  }
  .logo span::before {
    font-size: 35px;
  }
}

@media only screen and (max-width: 400px) {
  .logo span {
    font-size: 25px;
  }
  .logo span::before {
    font-size: 30px;
  }
}

@media only screen and (max-width: 350px) {
  /*  */
}

@media only screen and (min-width: 351px) {
  /*  */
}

@media only screen and (max-width: 767px) {
  .woocommerce ul.products li.product {
    width: -webkit-calc(50% - 30px) !important;
    width: -moz-calc(50% - 30px) !important;
    width: calc(50% - 30px) !important;
  }
  .woocommerce ul.products li.product a:not(.button) img, .woocommerce ul.products li.product .main-mnu .btn-sub-mnu:not(.button) img, .main-mnu .woocommerce ul.products li.product .btn-sub-mnu:not(.button) img {
    height: 200px;
  }
  .woocommerce ul.products li.product .button {
    margin-left: 15px;
  }
  .product-single-section .product .summary.entry-summary .cart button {
    margin-left: 0;
    margin-top: 15px;
  }
  .checkout_coupon input {
    font-size: 14px;
    height: 40px;
  }
  .checkout_coupon button.button {
    font-size: 14px;
    padding: 14px 30px;
  }
  .woocommerce-tabs p {
    font-size: 16px;
  }
  .woocommerce-tabs .not-found h1, .woocommerce-tabs .not-found .h1-title {
    font-size: 60px;
  }
  .woocommerce-tabs .not-found h2, .woocommerce-tabs .not-found .h2-title {
    font-size: 30px;
  }
  .added_to_cart.wc-forward {
    right: 15px;
  }
  .woocommerce-ordering {
    float: left !important;
    margin-top: 10px !important;
    width: 100%;
  }
  .orderby {
    font-size: 14px;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .not-found h1, .not-found .h1-title {
    font-size: 40px;
  }
  .not-found h2, .not-found .h2-title {
    font-size: 25px;
  }
  .woocommerce-message::before {
    top: 15px;
  }
  .woocommerce ul.products {
    margin: 0 !important;
  }
  .woocommerce ul.products li.product {
    width: -webkit-calc(100%) !important;
    width: -moz-calc(100%) !important;
    width: calc(100%) !important;
    max-width: 350px;
    margin: 30px auto 30px !important;
    text-align: center;
    float: none !important;
  }
  .woocommerce ul.products li.product a:not(.button) img, .woocommerce ul.products li.product .main-mnu .btn-sub-mnu:not(.button) img, .main-mnu .woocommerce ul.products li.product .btn-sub-mnu:not(.button) img {
    height: auto;
    max-height: 310px;
    min-height: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .woocommerce ul.products li.product .button {
    font-size: 16px;
    padding: 12px 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 200px;
    margin-left: 0;
  }
  .woocommerce ul.products li.product .price {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .added_to_cart.wc-forward {
    position: relative;
    padding-top: 20px !important;
    padding-left: 90px !important;
    margin: 20px auto 0;
    color: #456A64 !important;
    display: block !important;
    overflow: visible;
    width: 280px;
    background: none;
    font-size: 16px;
  }
  .added_to_cart.wc-forward::before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 75px;
    width: 25px;
    height: 25px;
    background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat;
  }
  .product-single-section .product .summary.entry-summary .cart button {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .woocommerce table.cart td.actions .coupon .input-text {
    width: 140px;
  }
}

@media only screen and (max-width: 425px) {
  .txt-box {
    font-size: 14px;
    line-height: 1.5;
  }
  .txt-box h2, .txt-box .h2-title {
    font-size: 20px;
    margin-bottom: 10px !important;
  }
  .woocommerce #customer_login .col-1 .password-input,
  .woocommerce #customer_login .col-2 .password-input {
    margin-left: 0;
  }
  .woocommerce .not-found h1, .woocommerce .not-found .h1-title {
    font-size: 30px;
  }
  .woocommerce .not-found h2, .woocommerce .not-found .h2-title {
    font-size: 20px;
  }
  .woocommerce table.cart td.actions .coupon .input-text {
    width: 80px;
  }
  .woocommerce table.cart td.actions .coupon .button {
    width: 55% !important;
  }
  .woocommerce table.cart td.actions .button {
    font-size: 16px;
    padding: 12px 10px;
  }
  .woocommerce .cart-collaterals .cart_totals .button {
    font-size: 18px;
  }
  .product-single-section .product .summary.entry-summary .product_title {
    font-size: 24px;
  }
  .checkout-section .checkout .col2-set h3 {
    font-size: 24px;
  }
  .checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper {
    margin-top: 10px;
  }
  .checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper label {
    font-size: 14px;
  }
  .checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper input {
    height: 30px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .checkout-section .checkout .col2-set .col-1 .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper .select2-selection {
    padding: 2px 10px 10px;
    height: 30px;
    font-size: 14px;
  }
  .checkout-section .checkout .col2-set .col-2 {
    margin-top: 15px;
  }
  .checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper {
    margin-top: 15px;
  }
  .checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper label {
    font-size: 14px;
  }
  .checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper {
    width: 100%;
  }
  .checkout-section .checkout .col2-set .col-2 .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper textarea {
    font-size: 14px;
  }
  .checkout-section .checkout #order_review_heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .checkout_coupon p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .checkout_coupon input {
    height: 30px;
    font-size: 14px;
  }
  .checkout_coupon button.button {
    font-size: 12px;
    padding: 10px 30px;
  }
  .not-found h1, .not-found .h1-title {
    font-size: 30px;
  }
  .not-found h2, .not-found .h2-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    max-width: 750px;
  }
  .mnu-wrap {
    display: block !important;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .main-mnu > li {
    position: relative;
    z-index: 10;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
  }
  .main-mnu > li.hover > .main-lnk .arr-dn-ic {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-mnu > li.hover .sub-mnu {
    height: auto;
    overflow: visible;
  }
  .main-mnu > li.hover .sub-mnu ul {
    position: relative;
    opacity: 1;
    background-color: #fff;
    border: 2px solid #000;
  }
  .main-mnu > li.hover .sub-mnu ul::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -1.55px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
       -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
         -o-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .main-mnu .sub-mnu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 100%;
    white-space: nowrap;
    height: 0;
    overflow: hidden;
  }
  .main-mnu .sub-mnu li {
    margin-right: 0;
    float: none;
    padding: 0 20px 0 10px;
  }
  .main-mnu .sub-mnu li:first-child {
    padding-top: 30px;
  }
  .main-mnu .sub-mnu li:last-child {
    padding-bottom: 30px;
  }
  .main-mnu .sub-mnu li a, .main-mnu .sub-mnu li .btn-sub-mnu {
    padding: 5px 20px;
  }
  .main-mnu .sub-mnu ul {
    background-color: #e5e5e5;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    opacity: 0;
    margin-top: 32px;
  }
  .main-mnu .btn-sub-mnu {
    position: absolute;
    left: 0;
    top: 0;
  }
  .sub-mnu {
    font-family: 'Calibri_Regular', sans-serif;
    font-size: 27px;
    line-height: 1.35;
  }
  .sub-mnu a, .sub-mnu .main-mnu .btn-sub-mnu, .main-mnu .sub-mnu .btn-sub-mnu {
    display: inline-block;
  }
  .sub-mnu a:hover, .sub-mnu .main-mnu .btn-sub-mnu:hover, .main-mnu .sub-mnu .btn-sub-mnu:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media print {
  body {
    font-family: "Arial", sans-serif;
    background-color: #fff;
  }
  * {
    color: #000;
  }
  .main-head, .inner-head, .main-foot, .inner-foot,
  .sidebar,
  .inner-pages {
    display: none;
  }
}
