<div class="container-fluid">

	<div class="foot-line">

		<div class="foot-cell">
			<div class="address-wrap">
				<p>Hansestadt Stendal<br>OrgBüro zum 23. Sachsen-Anhalt-Tag</p>
				<p>Breite Straße 63 | 39576 Hansestadt Stendal</p>
			</div>
		</div>

		<div class="foot-cell">

			<div class="contacts-wrap">
				<div class="social-wrap">
					<a href="#">
						<img src="web/img/_style/_svg/_social/instagram-brands.svg" alt="instagram-logo">
					</a>

					<a href="#">
						<img src="web/img/_style/_svg/_social/facebook-brands.svg" alt="facebook-logo">
					</a>
					
					<a href="#">
						<img src="web/img/_style/_svg/_social/youtube-brands.svg" alt="youtube-logo">
					</a>
				</div>

				<div class="foot-nav">
					<a href="#">Kontakt</a>
					<a href="#">Datenschutz</a>
					<a href="#">Impressum</a>
				</div>
			</div>

		</div>

	</div>	

</div>
