{% set rel = "stylesheet" %}
{# {% include "libs.twig" %} #}


<!-- Libs -->
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap-grid.min.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/libs/bootstrap-4.1.3/css/bootstrap.min.css" {{ linkType }}>



<!-- Main -->
<link rel="{{ rel }}" href="web/css/style.css" {{ linkType }}>
<link rel="{{ rel }}" href="web/css/fixes_css.css" {{ linkType }}>


<!-- Scripts -->
<script src="web/libs/jquery-3.3.1/jquery-3.3.1.min.js" defer></script>
<script src="web/libs/jquery-3.3.1/jquery-migrate.min.js" defer></script>
<script src="web/libs/bowser-master/src/bowser.min.js" defer></script>
<script src="web/libs/bootstrap-4.1.3/js/bootstrap.min.js" defer></script>



<script src="web/js/app.js" defer></script>
