Дмитрий Лаштун, [10.03.21 16:19]
<form action="/de/bewerbungsformular/#wpcf7-f239-o1" method="post" class="wpcf7-form init form-main" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
    <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="239">
        <input type="hidden" name="_wpcf7_version" value="5.4">
        <input type="hidden" name="_wpcf7_locale" value="en_US">
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f239-o1">
        <input type="hidden" name="_wpcf7_container_post" value="0">
        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
    </div>
    <div class="form-fields">
        <div class="fields-line">
            <div class="field-itm">
                <h4>Für welche stelle bewerben sie sich?*</h4>
                <span class="wpcf7-form-control-wrap job"><input type="text" name="job" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Stelle*"></span>
            </div>
            <div class="field-itm">
                <h4>Anrede *</h4>
                <div class="check-lst">
                    <span class="wpcf7-form-control-wrap gender">
                        <span class="wpcf7-form-control wpcf7-radio">
                            <span class="wpcf7-list-item first">
                                <input type="radio" name="gender" value="Frau" checked="checked">
                                <span class="wpcf7-list-item-label">Frau</span>
                            </span>
                            <span class="wpcf7-list-item last">
                                <input type="radio" name="gender" value="Herr">
                                <span class="wpcf7-list-item-label">Herr</span>
                            </span>
                        </span>
                    </span>
                </div>
                <span class="wpcf7-form-control-wrap title">
                    <input type="text" name="title" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Titel*">
                </span>
            </div>
        </div>
        <div class="fields-line">
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap firstname"><input type="text" name="firstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Vorname*"></span>
            </div>
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap lastname"><input type="text" name="lastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nachname*"></span>
            </div>
        </div>
        <div class="fields-line">
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap address"><input type="text" name="address" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Straße/Haus-Nr.*"></span>
            </div>
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap city"><input type="text" name="city" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="PLZ/Wohnort*"></span>
            </div>
        </div>
        <div class="fields-line">
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Telefon-Nr.*"></span>
            </div>
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Mail*"></span>
            </div>
        </div>
        <div class="fields-line">
            <div class="field-itm">
                Дмитрий Лаштун, [10.03.21 16:19]
                <span class="wpcf7-form-control-wrap dropdown"><select name="dropdown" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select></span>
            </div>
            <div class="field-itm">
                <span class="wpcf7-form-control-wrap textarea"><textarea name="textarea" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="TEST*"></textarea></span>
            </div>
        </div>
    </div>
    <div class="optional-field">
        <h4>Woher kennen Sie anteo? (optional)</h4>
        <div class="check-lst">
            <span class="wpcf7-form-control-wrap know"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first"><input type="radio" name="know" value="LinkedIn" checked="checked"><span class="wpcf7-list-item-label">LinkedIn</span></span><span class="wpcf7-list-item"><input type="radio" name="know" value="XING"><span class="wpcf7-list-item-label">XING</span></span><span class="wpcf7-list-item"><input type="radio" name="know" value="Indeed"><span class="wpcf7-list-item-label">Indeed</span></span><span class="wpcf7-list-item"><input type="radio" name="know" value="Monster.de"><span class="wpcf7-list-item-label">Monster.de</span></span><span class="wpcf7-list-item"><input type="radio" name="know" value="Messe / Konferenz"><span class="wpcf7-list-item-label">Messe / Konferenz</span></span><span class="wpcf7-list-item"><input type="radio" name="know" value="Empfehlung"><span class="wpcf7-list-item-label">Empfehlung</span></span><span class="wpcf7-list-item last"><input type="radio" name="know" value="sonstiges"><span class="wpcf7-list-item-label">sonstiges</span></span></span></span>
        </div>
    </div>
    <div class="optional-field">
        <h4>TEST</h4>
        <div class="check-lst">
            <span class="wpcf7-form-control-wrap checkbox"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required"><span class="wpcf7-list-item first"><input type="checkbox" name="checkbox[]" value="1"><span class="wpcf7-list-item-label">1</span></span><span class="wpcf7-list-item"><input type="checkbox" name="checkbox[]" value="2"><span class="wpcf7-list-item-label">2</span></span><span class="wpcf7-list-item"><input type="checkbox" name="checkbox[]" value="3"><span class="wpcf7-list-item-label">3</span></span><span class="wpcf7-list-item last"><input type="checkbox" name="checkbox[]" value="4"><span class="wpcf7-list-item-label">4</span></span></span></span>
        </div>
    </div>
    <div class="upload-field">
        <h4>BEWERBUNGSUNTERLAGEN *</h4>
        <div class="field-title">Bitte laden Sie Ihre Bewerbungsunterlagen als PDF Datei hoch (max. 10 MB)</div>
        <span class="wpcf7-form-control-wrap file"><input type="file" name="file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false"></span>
    </div>
    <div class="policy-field">
        <h4>DATENSCHUTZ *</h4>
        <p>Ich habe die Datenschutzerklärung zur Kenntnis genommen und bin damit einverstanden, dass die von mir angegebenen Daten elektronisch erhoben und gespeichert werden. Meine Daten werden dabei nur streng zweckgebunden zur Bearbeitung und Beantwortung meiner Anfrage benutzt.</p>
        <span class="wpcf7-form-control-wrap acceptance"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="acceptance" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">Ja, ich stimme der Verarbeitung meiner personenbezogenen Daten zu.</span></label></span></span></span>
    </div>
    <div class="btn-bottom-wrap">
        <input type="submit" value="Absenden" class="wpcf7-form-control wpcf7-submit btn" disabled="">
        <span class="ajax-loader"></span>
        <a href="#" class="btn-back">
            <i class="arr-dn-ic"></i>
            <span Дмитрий Лаштун, [10.03.21 16:19]>Zu den Stellenanzeigen</span>
        </a>
    </div>
    <div class="wpcf7-response-output" aria-hidden="true"></div>
</form>