{% set rel = "preload" %}
{% set linkType = "as='style'" %}


<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="web/img/favicon.png" type="image/x-icon">

	{# {% include "libs.twig" %} #}

	<style>
		:root {
			--main_2: blue;
		}

		body:not(.page-loaded) * {
			-webkit-transition: none !important;
			-o-transition: none !important;
			transition: none !important;
		}
		
		.preloader {
			/*display: none;*/
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 10000;
			background-position: center;
			background-size: 57px auto;
			background-repeat: no-repeat;
			background-image: url("web/img/favicon.png");
		}
	</style>
</head>

