<nav class="mnu-wrap">
	<ul class="main-mnu">
		
		<li>
			<div class="main-lnk">
				<a href="#">
					<span>Category 1</span>					
				</a>
				<button type="button" class="btn-sub-mnu">
					<span>Category 1</span>					
				</button>	
			</div>

			<div class="sub-mnu">
				<ul>
					<li><a href="#">sub link 1</a></li>
					<li><a href="#">sub link 2</a></li>
					<li><a href="#">sub link 3</a></li>
					<li><a href="#">sub link 4</a></li>
					<li><a href="#">sub link 5</a></li>
					<li><a href="#">sub link 6</a></li>
				</ul>
			</div>
		</li>

		<li>
			<div class="main-lnk">
				<a href="#">
					<span>Category 2</span>					
				</a>
				<button type="button" class="btn-sub-mnu">
					<span>Category 2</span>					
				</button>	
			</div>

			<div class="sub-mnu">
				<ul>
					<li><a href="#">sub link 1</a></li>
					<li><a href="#">sub link 2</a></li>
					<li><a href="#">sub link 3</a></li>
				</ul>
			</div>
		</li>

		<li>
			<div class="main-lnk">
				<a href="#">
					<span>Category 3</span>					
				</a>
				<button type="button" class="btn-sub-mnu">
					<span>Category 3</span>					
				</button>	
			</div>

			<div class="sub-mnu">
				<ul>
					<li><a href="#">sub link 1</a></li>
				</ul>
			</div>
		</li>

		<li><a href="#">Category 4</a></li>
		
		<li>
			<div class="main-lnk">
				<a href="#">
					<span>Category 5</span>					
				</a>
				<button type="button" class="btn-sub-mnu">
					<span>Category 5</span>					
				</button>	
			</div>

			<div class="sub-mnu">
				<ul>
					<li><a href="#">sub link 1</a></li>
					<li><a href="#">sub link 2</a></li>
				</ul>
			</div>
		</li>
		
	</ul>
</nav>

{# {% include "menu-main.twig" %} #}