<div class="modal-set">
	<!-- <button class="btn" data-toggle="modal" data-target="#example-modal">Button</button> -->

	<div class="modal fade" id="example-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-top">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-title">
						<h2>Modal_Title</h2>
					</div>

					<div class="modal-txt">
						<span>Modal_Txt</span>
						<br>
						<div class="cust-inp">
							<input type="text" placeholder="placeholder">
						</div>
						<br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel fuga neque qui, architecto rem tempora laborum, corporis dolor modi veniam aliquam, esse ea praesentium voluptas fugit veritatis, nobis quae.</p>
					</div>

				</div>
			</div>
		</div>
	</div><!-- Modal END -->

</div><!-- modal-set END -->
