{% extends "_inc/_layout-2.twig" %}
{% set title = "Inner page" %} {# {{ title }} #}
{% set foot_img_src = "img/foot-img.jpg" %} {# {{ title }} #}

{% set lnk_active_1 = "active" %} {# {{ lnk_active_1 }} #}


{% block page %}

<main class="page-wrap">

	<section class="sect-txt">
		<div class="container-fluid">
			<div class="txt-box">
				<h2>Warum feiern wir?</h2>
				<p>Anlässlich unseres 1000-jährigen Jubiläums, feiern wir im Jahr 2022 die urkundliche Ersterwähnung Stendals. Das Highlight dieses Jubiläumsjahres ist der 23. Sachsen-Anhalt-Tag, welchen wir vom 01. bis 03. Juli 2022 in unserer schönen Hansestadt durchführen. Damit wird uns nach 1997 zum zweiten Mal die Ehre zu Teil, als erste Stadt in Sachsen-Anhalt noch einmal dieses besondere Landesfest durchführen zu dürfen und somit Gastgeber für die Landkreise, Städte, Vereine und Besucher zu sein.</p>

				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>Laborum modi cupiditate quasi amet officiis ipsa excepturi omnis tempore, sint pariatur dolorem magnam vitae nesciunt a nisi, autem non quam rerum!</li>
					<li>Nesciunt ab ipsa quaerat ratione error tenetur debitis commodi at, porro, neque, eligendi praesentium?</li>
					<li> Ab rerum autem delectus sint nisi repudiandae magnam!</li>
					<li>Aspernatur magnam sed deleniti nostrum quia, alias obcaecati modi iste unde accusantium est blanditiis recusandae, ex porro repellat numquam magni!</li>
				</ul>

				<ol>
					<li>Füllen Sie die Stimm/-Wahlzettel aus und verschliessen Sie diese im Stimmkuvert oder in einem privaten, neutralen Kuvert.</li>
					<li>Unterschreiben Sie die untenstehende Erklärung. Ohne Unterschrift ist die Stimmabgabe ungültig.</li>
					<li>Legen Sie das Stimmkuvert oder das private neutrale Kuvert mit den Stimmzetteln und dem Stimmausweis mit der unterzeichneten Erklärung in das Zustellkuvert, mit dem Sie das Abstimmungsmaterial erhalten haben (oder in ein mit dem Vermerk «briefliche Stimmabgabe» versehenes privates Rücksendekuvert.)</li>
					<li>Das Zustellkuvert ist in der Folge entweder frankiert der Post zu übergeben oder in den von der Gemeinde bezeichneten Briefkasten der Gemeindeverwaltung einzuwerfen.</li>
				</ol>
			</div>
		</div>
	</section>

</main><!-- page-wrap END -->

{% endblock %}
