@import "_reset"

.btn-wrap
	text-align: center


// button
// 	&.btn
// 		padding: 13px 20px 10px

.btn
	text-decoration: none !important
	box-shadow: none !important
	outline: none !important
	border-radius: 0
	cursor: pointer
	appearance: none
	background-color: transparent
	text-align: center
	display: inline-flex
	align-items: center
	justify-content: center
	padding: 7px 15px 5px
	height: 50px
	border: 1px solid $main
	color: $text
	font-size: 18px
	font-family: "LoraRegular", sans-serif
	min-width: 270px
	transition: .3s

	&:hover
		color: #fff
		background-color: $main

	&:active
		opacity: .8


.btn-form
	@extend .btn
	position: relative
	input
		position: absolute
		z-index: 20
		left: 0
		top: 0
		width: 100%
		height: 100%
		opacity: 0
		cursor: pointer

	.ajax-loader






.btn-dn
	position: absolute
	z-index: 10
	bottom: 30px
	left: 50%
	transform: translate(-50%,0)
	background-color: $main
	cursor: pointer
	transition: .3s
	// &:hover
	// 	background-color: darken($main, 10%)


.btn-top
	position: fixed
	z-index: 555
	left: 5px
	bottom: 5px
	width: 40px
	height: 40px
	background-color: $main
	cursor: pointer
	transition: .3s
	background-image: url("../img/_style/_svg/btn-top.svg")
	background-position: center
	background-repeat: no-repeat
	background-size: 20px
	border-radius: 3px
	box-shadow: 0 0 3px 1px rgba(255,255,255,.25)
	
	opacity: 0
	&.on
		opacity: 1

	// &:hover
	// 	background-color: darken($main, 10%)



// Button Drop Down Menu
.toggle-btn
	//display: inline-block
	display: none
	vertical-align: middle
	appearance: none
	border: none
	background-color: transparent
	outline: none !important
	position: relative
	z-index: 1
	text-align: center
	text-decoration: none

	width: 40px
	height: 30px

	z-index: 10
	cursor: pointer
	//background-color: pink
	span
		position: absolute
		top: 50%
		margin-top: -1px
		display: block
		width: 100%
		height: 4px
		background-color: $title
		transition: 0.5s
		backface-visibility: hidden
		border-radius: 4px
		&::after,
		&::before
			content: ""
			position: absolute
			left: 0
			top: -10px
			width: 100%
			height: 4px
			background-color: $title
			//transition: 0.3s
			transition: .5s ease all
			backface-visibility: hidden
			border-radius: 4px
		&:after
			top: 10px


	&.on
		z-index: 50
		span
			transform: rotate(90deg)
			background-color: transparent !important
			&::before
				width: 40px
				transform: rotate(45deg) translate(7px, 7px)
				//background-color: $bdc
			&::after
				width: 40px
				transform: rotate(-45deg) translate(7px, -7px)
				//background-color: $bdc
// Button DropDown Menu END