@import "_fonts"

// The Variables Styles
$main: #F25B55
$accent: #456A64
$title: #000
$text: #000
$bgc: #f9efeb
$bdc: #e5e5e5

$main_2: var(--main_2, #333969)
// body
// 	background-color: $main_2



// .page-title
// 	text-align: center
// 	padding: 20px 0 18px
// 	margin-bottom: 35px
// 	position: relative
// 	&::after
// 		content: ""
// 		display: block
// 		position: absolute
// 		width: 60px
// 		height: 2px
// 		background-color: $main
// 		left: 50%
// 		bottom: 0
// 		transform: translate(-50%,0)



.title-wrap
	position: relative
	padding: 0
	margin: 0 auto 25px
	display: block
	text-align: center
	color: $title


// .title-descr
// 	font-family: "LoraRegular", sans-serif
// 	font-size: 15px
// 	font-style: italic
// 	line-height: 1.45em
// 	color: #7f7f7f


/* Title */
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-weight: normal


h1
	font-size: 60px
	line-height: 1.1

h2
	font-size: 40px
	line-height: 1.25
	font-weight: 700




.h1-title
	@extend h1

.h2-title
	@extend h2





.txt-box
	p,
	ul,
	ol,
	img,
	table
		margin-bottom: 20px

	img
		display: block
		max-width: 100%
		width: auto !important
		height: auto !important

	ol
		padding-left: 20px
		li
			list-style-type: decimal

	ul
		li
			position: relative
			padding-left: 20px
			&::before
				content: ''
				display: block
				position: absolute
				left: 0
				top: 13px
				width: 10px
				height: 2px
				background-color: $text

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		&:not([class])
			display: block
			font-weight: normal
			margin-bottom: 25px

	h1
		font-size: 40px
	h2
		font-size: 35px
	h3
		font-size: 25px
	h4
		font-size: 22px
	h5
		font-size: 20px
	h6
		font-size: 20px

	a
		&:not([class])
			text-decoration: underline
			color: $main
