//@import "_bourbon/bourbon"
//+font-face("GothamProRegular", "../fonts/Gotham/GothamProRegular/GothamProRegular", $file-formats: eot woff ttf)

// Шрифты - переменные 
/* Обязательные форматы .TTF и .WOFF2 */
$font_1: 'Calibri_Bold'
$fontURL_1: '../fonts/Calibri/Calibri_Bold/Calibri_Bold'

$font_2: 'Calibri_Regular'
$fontURL_2: '../fonts/Calibri/Calibri_Regular/Calibri_Regular'












// Шрифты
@font-face
	font-family: $font_1
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_1 + '.woff') format("woff"), url($fontURL_1 + '.ttf') format("truetype")

@font-face
	font-family: $font_2
	font-display: swap
	font-style: normal
	font-weight: normal
	src: url($fontURL_2 + '.woff') format("woff"), url($fontURL_2 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_3
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_3 + '.woff2') format("woff2"), url($fontURL_3 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_4
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_4 + '.woff2') format("woff2"), url($fontURL_4 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_5
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_5 + '.woff2') format("woff2"), url($fontURL_5 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_6
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_6 + '.woff2') format("woff2"), url($fontURL_6 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_7
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_7 + '.woff2') format("woff2"), url($fontURL_7 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_8
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_8 + '.woff2') format("woff2"), url($fontURL_8 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_9
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_9 + '.woff2') format("woff2"), url($fontURL_9 + '.ttf') format("truetype")

// @font-face
// 	font-family: $font_10
// 	font-display: swap
// 	font-style: normal
// 	font-weight: normal
// 	src: url($fontURL_10 + '.woff2') format("woff2"), url($fontURL_10 + '.ttf') format("truetype")



