@import "_var"

/* ================= Header ================= */

/*============= hover-dropdown =============*/
.hover-dropdown
	overflow: hidden
	position: relative
	z-index: 9999
	//display: block
	display: inline-flex

	&.hover
		overflow: visible
		z-index: 99999


.hover-dropdown-btn
	cursor: default
	user-select: none
	white-space: nowrap
	span
		display: inline-block
		vertical-align: middle



.hover-dropdown-box
	position: absolute
	top: 100%
	left: 50%
	transform: translate(-50%,0)
	min-width: 100%
	line-height: 1em
	transition: .5s ease
	margin-top: -5px
	opacity: 0
	max-height: 0
	overflow: hidden

	ul
		//background-color: #fff
		white-space: nowrap
		color: $text

	a

.hover
	.hover-dropdown-box
		margin-top: 0
		opacity: 1
		overflow: visible
		max-height: none
/*============= hover-dropdown END =============*/





.main-head
	color: inherit
	height: 100px
	box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1)

.inner-head
	@extend .main-head

.head-top
	box-shadow: 0 0 10px 1px rgba(0,0,0,.05)
	position: fixed
	z-index: 5000
	left: 0
	top: 0
	width: 100%
	height: 100px
	min-width: 320px
	background-color: #fff
	display: flex
	align-items: center
	box-shadow: 0 10px 20px rgba(4, 10, 46, 0.1)



.head-line
	display: flex
	justify-content: space-between
	align-items: center
	position: relative

.head-cell:first-child
	width: 100%
	display: flex
	align-items: center
	justify-content: flex-end

.logo-wrap
	margin-right: auto
	margin-left: 0

.logo
	display: block
	color: $main
	span
		font-size: 56px
		line-height: 1
		font-family: 'Calibri_Bold', sans-serif
		letter-spacing: 5px
		&::before
			content: '#'
			font-size: 64px
	&:hover
		text-decoration: none
    
	
	


.mnu-wrap
	// padding: 0 50px
	
.main-mnu
	display: flex
	align-items: center
	margin-right: 0
	> li
		position: relative
		margin-right: 35px
		font-family: 'Calibri_Bold', sans-serif
		font-size: 27px
		line-height: 1.35
		&:last-child
			margin-right: 0
		&.cart-mobile
			display: none
	
	li
		&.active
			> a,
			> span,
			> .main-lnk
				color: $main

	.btn-sub-mnu
		@extend a

	.arr-dn-ic
		transition: .2s transform
	
	.mnu-icon
		//display: inline
		width: 0

	.main-lnk
		position: relative

.btn-sub-mnu
	z-index: 5
	appearance: none
	border: none
	background-color: transparent
	outline: none !important
	opacity: 0
	position: absolute
	z-index: 5
	left: 0
	top: 0
	display: none !important


html.touch
	.btn-sub-mnu
		display: inline-flex !important


.head-sett
	> li
		margin-left: 25px

	+ .toggle-btn
		margin-left: 25px

.head-cart-link
	width: 40px
	height: 25px
	margin-top: -5px
	margin-left: -10px
	background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat center/contain
	filter: brightness(0)






















