.loaded
	margin-left: -1000px
	margin-top: -1px
	width: 10px
	height: 1px
	opacity: 0
	//background-image: url("../img/_style/_svg/arr_dn_hover.svg"), url("../img/_style/_svg/search_hover.svg"),






// Icon Set
i[class*="-ic"]
	// display: inline-flex
	// align-items: center
	// justify-content: center

	display: inline-block
	vertical-align: middle
	background-repeat: no-repeat
	background-position: center
	line-height: 1
	background-size: contain


.arr-dn-ic
	width: 14px
	height: 14px
	background-image: url("../img/_style/_svg/arr_dn.svg")


