@media only screen and (min-width : 768px)
	/*  */















@media only screen and (max-width : 1199px)
	
	.logo
		span
			font-size: 48px
			letter-spacing: 5px
			&::before
				font-size: 48px

	.main-mnu
		> li
			margin-right: 25px
			font-size: 27px	

	.woocommerce

		#customer_details
			.col-2
				.woocommerce-shipping-fields
					.shipping_address
						.woocommerce-shipping-fields__field-wrapper
							label
								width: 40%
							.woocommerce-input-wrapper
								width: 60%

		.woocommerce-MyAccount-content
			.woocommerce-Address
				max-width: 100%
				width: 100%

		ul
			&.products
				li
					&.product
						a:not(.button)
							img
								height: 180px
						.price
							font-size: 16px
							del
								margin-right: 80px
						.button
							margin-left: 10px
							font-size: 14px
							padding: 12px 17px
						.tax-info
							margin-bottom: 0
						.shipping-costs-info
							padding-left: 15px
							margin: 0
							a
								padding: 0
						.woocommerce-loop-product__link
							height: 73%

	.added_to_cart
		&.wc-forward
			right: 10px
			width: 22px
			height: 22px

	a.button.added
		&::after
			font-size: 10px !important
			vertical-align: middle !important

	.product-single-section
		.product
			.summary
				&.entry-summary
					.product_title
						font-size: 45px

	.related
		&.products
			h2
				font-size: 30px

	.woocommerce-tabs
		h2
			font-size: 30px

	.woocommerce
		.cart-collaterals
			.cart_totals
				h2
					font-size: 24px

@media only screen and (max-width : 1440px)
	.container-fluid
		padding-left: 25px
		padding-right: 25px





@media only screen and (max-width : 991px)

	.toggle-btn
		display: inline-block

	html.touch 
		.btn-sub-mnu
			display: none !important

	.head-cart-link
		display: none

	.mnu-wrap
		display: none
		position: absolute
		z-index: 50
		right: -25px
		top: -21px
		width: 280px
		height: 100vh
		background-color: #fff
		overflow-y: auto
		padding: 16px 0 0 16px
		transform: translate(100%,0)
		transition: .5s
		&.open
			transform: translate(0,0)
			li
				&.cart-mobile
					display: block

	.main-mnu
		display: block
		border: none
		
		.arr-dn-ic
			display: inline-block
			
		li
			border: none
			font-size: 20px

		> li
			padding-top: 10px
			width: 100%

			> a,
			> span,
			> .main-lnk
				padding: 8px 0 8px 0
				height: auto
		a
			&:hover
				text-decoration: underline

	.sub-mnu
		display: block
		position: static
		transform: none
		white-space: nowrap
		height: auto
		overflow: visible
		
		ul
			opacity: 1
			background-color: #fff
			border: none
			&::before
				display: none
		
		li
			font-size: 18px
			line-height: 1.35
			width: 90%
			overflow: hidden
			text-overflow: ellipsis
			padding: 8px 20px

	.foot-cell
		font-size: 16px

	.woocommerce
		#customer_login
			.col-1,
			.col-2
				width: 100%

		.woocommerce-order
			.woocommerce-customer-details
				.col-1,
				.col-2
					width: 100%
				.col-2
					margin-top: 20px


		ul
			&.products
				li
					&.product
						width: calc(33.33% - 30px) !important
						.button
							margin-left: 14px

	.added_to_cart
		&.wc-forward
			right: 14px






@media only screen and (min-width : 769px) and (max-width : 991px)
	/*  */





@media only screen and (max-width : 768px)
	.container-fluid
		padding-left: 15px
		padding-right: 15px

	.mnu-wrap
		right: -15px

	.toggle-btn
		&.on
			span
				right: 0

	.main-head
		height: 65px

	.head-top
		height: 65px

	.logo
		span
			font-size: 40px
			letter-spacing: 5px
			&::before
				font-size: 45px

	.sect-txt
		margin-top: 30px

	.txt-box
		font-size: 16px
		line-height: 1.75
		h2
			font-size: 30px
			margin-bottom: 15px !important

	.foot-line
		height: 250px
		padding: 10px 0

	.foot-cell
		width: 100%

	.contacts-wrap
		align-items: center

	.address-wrap
		padding: 0

	.woocommerce
		ul
			&.products
				li
					&.product
						// a:not(.button)
						// 	img
						// 		height: 200px
						.price
							font-size: 16px
							del
								margin-right: 80px
						.button
							margin-left: 10px

	.added_to_cart
		&.wc-forward
			right: 10px


	.checkout-section
		.checkout
			.col2-set
				.col-1
					max-width: 100%
					width: 100%
				.col-2
					max-width: 100%
					width: 100%
					margin-top: 50px
					.woocommerce-additional-fields__field-wrapper
						.woocommerce-input-wrapper
							textarea
								height: 150px

	.product-single-section
		.woocommerce-product-gallery
			float: left !important
		.product
			.summary
				&.entry-summary
					float: right !important
					max-width: 50%
					width: 50%

	.product-single-section
		.product
			.summary
				&.entry-summary
					.product_title
						font-size: 35px

	.related
		&.products
			h2
				font-size: 25px

	.woocommerce-tabs
		h2
			font-size: 25px
		.tabs
			font-size: 16px
			li
				height: 40px

	.woocommerce
		table
			&.cart
				.cart_item
					position: relative
				td
					&.product-remove
						display: flex
						justify-content: flex-end
					&.product-thumbnail
						display: block
						position: absolute
						top: 0
						padding: 6px 12px 4px
						border: none
						&::before
							display: none
					&.actions
						padding-top: 15px
						padding-bottom: 15px
						.coupon
							padding-bottom: 20px


	.cart-section
		padding-top: 30px
		.coupon
			.input-text
				font-size: 14px



@media only screen and (max-width : 576px)
	.not-found
		h1
			font-size: 30px
		h2
			font-size: 25px

	.product-single-section
		.woocommerce-product-gallery
			float: none !important
			max-width: 100% !important
		.product
			.summary
				&.entry-summary
					float: none !important
					max-width: 100%
					width: 100%

	.txt-box
		h2
			font-size: 25px

	.product-category-section
		h1
			font-size: 40px

	.woocommerce-message
		justify-content: center
		a
			&.button
				margin: 15px 0 10px -20px !important

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error
		font-size: 14px
		line-height: 1.5

	.checkout_coupon
		font-size: 14px
		.form-row
			width: 100% !important

	.woocommerce
		#customer_details
			.col-2
				.woocommerce-shipping-fields
					.shipping_address
						.woocommerce-shipping-fields__field-wrapper
							label
								width: 100%
							.woocommerce-input-wrapper
								width: 100%
		ul.products
			li.product
				.woocommerce-loop-product__link
					height: 82%

	.logo
		span
			font-size: 30px
			letter-spacing: 3px
			line-height: 65px
			&::before
				font-size: 35px





@media only screen and (max-width : 400px)
	.logo
		span
			font-size: 25px
			&::before
				font-size: 30px


@media only screen and (max-width : 350px)
	/*  */









// Min width ================================================
@media only screen and (min-width : 351px)
	/*  */



@media only screen and (max-width : 767px)
	.woocommerce
			ul
				&.products
					li
						&.product
							width: calc(50% - 30px) !important
							a:not(.button)
								img
									height: 200px
							.button
								margin-left: 15px
								// font-size: 16px
								// padding: 12px 30px

	.product-single-section
		.product
			.summary
				&.entry-summary
					.cart
						button
							margin-left: 0
							margin-top: 15px

	.checkout_coupon
		input
			font-size: 14px
			height: 40px
		button
			&.button
				font-size: 14px
				padding: 14px 30px


	.woocommerce-tabs
		p
			font-size: 16px

		.not-found
			h1
				font-size: 60px
			h2
				font-size: 30px

	.added_to_cart
		&.wc-forward
			right: 15px

	.woocommerce-ordering
		float: left !important
		margin-top: 10px !important
		width: 100%

	.orderby
		font-size: 14px
		width: 100%


@media only screen and (max-width : 576px)
	.not-found
		h1
			font-size: 40px
		h2
			font-size: 25px

	.woocommerce-message
		&::before
			top: 15px


	.woocommerce
			ul
				&.products
					margin: 0 !important
					li
						&.product
							width: calc(100%) !important
							max-width: 350px
							margin: 30px auto 30px !important
							text-align: center
							float: none !important
							a:not(.button)
								img
									// width: 90%
									height: auto
									max-height: 310px
									min-height: 290px
									margin-left: auto
									margin-right: auto
							.button
								font-size: 16px
								padding: 12px 40px
								left: 50%
								transform: translateX(-50%)
								min-width: 200px
								margin-left: 0
							.price
								justify-content: center

	.added_to_cart
		&.wc-forward
			position: relative
			padding-top: 20px !important
			padding-left: 90px !important
			margin: 20px auto 0
			color: $accent !important
			display: block !important
			overflow: visible
			width: 280px
			background: none
			font-size: 16px
			&::before
				content: ""
				position: absolute
				bottom: -27px
				left: 75px
				width: 25px
				height: 25px
				background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat


	.product-single-section
		.product
			.summary
				&.entry-summary
					.cart
						button
							margin-left: 20px
							margin-top: 0




@media only screen and (max-width : 500px)

	.woocommerce
		table
			&.cart
				td
					&.actions
						.coupon
							.input-text
								width: 140px


@media only screen and (max-width : 425px)

	.txt-box
		font-size: 14px
		line-height: 1.5
		h2
			font-size: 20px
			margin-bottom: 10px !important

	.woocommerce
		#customer_login
			.col-1,
			.col-2
				.password-input
					margin-left: 0

		.not-found
			h1
				font-size: 30px
			h2
				font-size: 20px

	.woocommerce
		table
			&.cart
				td
					&.actions
						.coupon
							.input-text
								width: 80px
							.button
								width: 55% !important
						.button
							font-size: 16px
							padding: 12px 10px
		.cart-collaterals
			.cart_totals
				.button
					font-size: 18px

	.product-single-section
		.product
			.summary
				&.entry-summary
					.product_title
						font-size: 24px

	.checkout-section
		.checkout
			.col2-set
				h3
					font-size: 24px
				.col-1
					.woocommerce-billing-fields__field-wrapper
						margin-top: 10px
						label
							font-size: 14px
						.woocommerce-input-wrapper
							input
								height: 30px
								font-size: 14px
								margin-bottom: 0
							.select2-selection
								padding: 2px 10px 10px
								height: 30px
								font-size: 14px
				.col-2
					margin-top: 15px
					.woocommerce-additional-fields__field-wrapper
						margin-top: 15px
						label
							font-size: 14px
						.woocommerce-input-wrapper
							width: 100%
							textarea
								font-size: 14px
			#order_review_heading
				font-size: 24px
				margin-bottom: 10px

	.checkout_coupon
		p
			font-size: 14px
			line-height: 1.5
			margin-bottom: 10px
		input
			height: 30px
			font-size: 14px
		button
			&.button
				font-size: 12px
				padding: 10px 30px

	.not-found
		h1
			font-size: 30px
		h2
			font-size: 24px




@media only screen and (min-width : 769px)
	.container
		max-width: 750px
		
	.mnu-wrap
		display: block !important





@media only screen and (min-width : 992px)
	.container
		max-width: 970px

	.main-mnu
		> li
			position: relative
			z-index: 10
			transition: .2s
			&.hover
				> .main-lnk
					.arr-dn-ic
						transform: rotate(180deg)
				.sub-mnu
					height: auto
					overflow: visible
					ul
						position: relative
						opacity: 1
						background-color: #fff
						border: 2px solid $title
						&::before
							content: ''
							position: absolute
							left: 50%
							top: -1.55px
							width: 30px
							height: 30px
							background-color: #fff
							border-left: 2px solid $title
							border-top: 2px solid $title
							transform: translate(-50%, -50%) rotate(45deg)

		.sub-mnu
			position: absolute
			top: 100%
			left: 50%
			transform: translateX(-50%)
			min-width: 100%			
			white-space: nowrap
			height: 0
			overflow: hidden
			

			li
				margin-right: 0
				float: none
				padding: 0 20px 0 10px
				&:first-child
					padding-top: 30px
				&:last-child
					padding-bottom: 30px
				a
					padding: 5px 20px

			ul
				background-color: $bdc
				transition: .2s
				opacity: 0
				margin-top: 32px

		.btn-sub-mnu
			position: absolute
			left: 0
			top: 0

	.sub-mnu
		font-family: 'Calibri_Regular', sans-serif
		font-size: 27px
		line-height: 1.35

		a
			display: inline-block
			&:hover
				text-decoration: underline



@media only screen and (min-width : 1200px)
	.container
		max-width: 1170px





@media print
	body
		font-family: "Arial", sans-serif
		background-color: #fff
	*
		color: #000

	.main-head,
	.main-foot,
	.sidebar,
	.inner-pages
		display: none



