@import "_color_title"

/* Clearfix */
.clearfix
	&::before,
	&::after
		content: ""
		display: table

	&::after
		clear: both

.before,
.after
	position: absolute
	content: ""

*
	margin: 0
	padding: 0
	outline: none
	box-sizing: border-box


a
	outline: none !important
	cursor: pointer
	color: inherit
	transition: .3s
	&:hover
		text-decoration: underline
		color: $main



fieldset
	border: none
	padding: 0
	margin: 0

ol,
ul,
li,
form
	list-style: none
	padding: 0
	margin: 0

label
	font-weight: normal

.hidden
	display: none


