@import "_reset"
//@import "_libs"
@import "_icons"
@import "_btns"


.hidden
	display: none !important

.inner-pages
	position: fixed
	z-index: 5000
	top: 15%
	left: 0
	display: inline-block
	height: 62px
	width: 35px
	overflow: hidden
	background-image: url("../img/_style/_svg/inner_pages.svg")
	background-repeat: no-repeat
	background-position: center
	background-size: contain

	&:hover
		overflow: visible
		.page-links
			opacity: 1

.page-links
	padding: 10px
	background-color: #fff
	color: #000
	font-size: 16px
	border: 1px solid #ccc
	position: absolute
	top: 0
	left: 100%
	transition: .3s
	opacity: 0
	min-height: 100%
	white-space: nowrap
	max-height: 85vh
	overflow-y: auto
	a
		display: block
		padding: 3px
		margin: 0 0 5px
		line-height: 1.2em
		&:hover
			color: blue



// Image styles


//<span class="img-inner-box" style="background-image: url();">
//	<img class="base-img" src="web/img/_style/rectangle.png" alt=""> <!-- Sets the proportions, do not change -->
//	<img class="main-img" src="" alt="" title="">
//</span>

//background-color: transparentize($color, .15)

.img-inner-box
	position: relative
	display: block
	text-decoration: none !important
	border: none !important
	width: 100%
	overflow: hidden
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-color: #eee
		
	transform: scale(1)
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-ms-backface-visibility: hidden
	//transition: .3s ease all

	&.img-contain
		background-size: contain

	img
		position: relative
		z-index: 1
		display: block
		width: 100% !important
		height: auto !important

	.base-img
		opacity: 0

	.main-img
		position: absolute
		z-index: 2
		left: 0
		top: 0
		width: 100% !important
		height: 100% !important
		opacity: 0


// body =============================

body
	position: relative
	min-width: 320px
	font-family: 'Calibri_Regular', sans-serif
	font-size: 18px
	line-height: 1.85em
	font-weight: normal
	color: $text
	-webkit-text-size-adjust: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-moz-font-smoothing: grayscale
	//background-color: $bgc
	//background-color: $main
	
	&.modal-open
		touch-action: none
		-ms-touch-action: none


/* Прижатие футера */

// .wrapper
// 	display: flex
// 	flex-direction: column
// 	min-height: 100vh
// 	overflow: hidden

// .layout
// 	flex: 1
// 	min-height: 200px

// .int-expl
// 	.wrapper
// 		display: block

/* Прижатие футера END */




/* Альтернатива прижатия футера */
body
	overflow-x: hidden
.wrapper
	display: table
	min-height: 100vh
	width: 100%
	overflow: hidden
	//min-width: 320px
.layout
	min-height: 300px
	display: table-row
	height: 100%
.home-wrap
	display: table-cell
	max-width: 320px
.page-wrap
	@extend .home-wrap

// @media only screen and (max-width : 768px)
// 	.wrapper
// 		display: flex
// 		flex-direction: column
// 		min-height: 100vh
// 		overflow: hidden
// 		width: 100%
// 	.layout
// 		flex: 1
// 		min-height: 200px
// 		display: block
// 		height: auto
// 	.int-expl
// 		.wrapper
// 			display: block
/* Альтернатива прижатия футера END*/








// Custom scrollbar
.height-limit
	max-height: 200px

.wrapper.mCustomScrollbar
	max-height: 100vh
	> .mCustomScrollBox
		> .mCSB_container
			min-height: 100vh
			display: flex
			flex-direction: column
			//overflow: hidden

.mCSB_inside
	> .mCSB_container
		margin: 0 !important

.int-expl
	.wrapper.mCustomScrollbar
		> .mCustomScrollBox
			> .mCSB_container
				display: block
// Custom scrollbar END




// Custom Tabs ========

// Структура ==========
// <div class="wrap-tabs">
// 	<div class="tabs__caption-wrap">
// 		<div class="tabs__caption">
// 			<li class="active"><span>Таб 1</span></li>
// 			<li><span>Таб 2</span></li>
// 		</div>
// 	</div><!-- tabs__caption-wrap END -->

// 	<div class="tabs__content-wrap">
// 		<div class="tabs__content active">
// 			<div class="show-tabs__content-btn">
// 				<span>Таб 1</span>
// 				<i class="arr-dn-ic"></i>
// 			</div>

// 			<div class="tabs__content-inner">Таб 1 - Контент</div>
// 		</div>

// 		<div class="tabs__content">
// 			<div class="show-tabs__content-btn">
// 				<span>Таб 2</span>
// 				<i class="arr-dn-ic"></i>
// 			</div>

// 			<div class="tabs__content-inner">Таб 2 - Контент</div>
// 		</div>
// 	</div><!-- tabs__content-wrap END -->
// </div><!-- wrap-tabs END -->

.wrap-tabs

.tabs__content
	margin: 0 auto
	height: 0
	opacity: 0
	overflow: hidden
	transition: .3s
	&.active
		padding: 0
		height: auto
		opacity: 1
		overflow: visible


.tabs__caption-wrap
	text-align: center
	margin: 0 auto 20px
	position: relative
	line-height: 1em



.tabs__caption
	@extend .clearfix
	display: flex
	justify-content: center
	line-height: 1em
	> li
		cursor: pointer
		margin: 0 10px
		> a,
		> span
			// display: flex
			// align-items: center
			//min-height: 40px
			display: table-cell
			vertical-align: middle
			height: 40px
			padding: 6px 25px 4px
			transition: .2s
			background-color: #f5f5f4

		&:hover
			color: $main

		&.active
			color: $main
			&:hover
				color: $main
				cursor: default



.show-tabs__content-btn
	display: none
	cursor: pointer

.tabs-nav
	display: none

.tab-left,
.tab-right
	position: absolute
	top: 0
	display: block
	width: 40px
	height: 40px
	cursor: pointer
	background-repeat: no-repeat
	background-position: center
	background-size: 10px 20px
	filter: brightness(0)
	opacity: .5
	&:hover
		filter: brightness(100%)
		opacity: 1

.tab-left
	left: 0
	background-image: url("../img/_style/_svg/arr_l.svg")
.tab-right
	right: 0
	background-image: url("../img/_style/_svg/arr_r.svg")


@media only screen and (max-width : 576px)
	.tabs-nav
		display: block

	.tabs__caption-wrap
		padding: 0 40px
		margin: 0 -15px 40px

	.tabs__caption
		width: 100%
		position: relative
		min-height: 40px
		> li
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 0
			overflow: hidden
			margin: 0
			> a,
			> span
				display: flex
				align-items: center
				justify-content: center

			&.active
				height: auto


// Custom Tabs ======== END




// parallax
.parallax-box
	min-height: 300px
	background-position: 50% 0
	background-repeat: no-repeat
	background-size: cover
	transform: translate3d(0,0,0)
	transition-property: background-position
	//transition: 0s linear
	transition: .1s linear

.fancybox-content
	cursor: pointer !important

.fancybox,
.fancy-photo
	display: block













// cust-accordion
.cust-accordion
	padding: 25px 0
	display: block
	> .accord-li
		display: block
		overflow: hidden
		&.open-start
			.accord-content
				display: block

.accord-btn
	display: flex
	align-items: center
	justify-content: space-between
	padding: 7px 35px 5px
	//font-family: "", sans-serif
	font-size: 25px
	line-height: 1.15em
	text-transform: uppercase
	min-height: 60px
	cursor: pointer
	transition: .2s
	color: $accent
	border-bottom: 1px solid $main

	.arr-dn-ic
		height: 12px
		width: 24px
		min-width: 24px
		background-image: url("../img/_style/_svg/arr_dn.svg")
		margin-top: -3px

	&.on
		background-color: $main
		color: #fff
		.arr-dn-ic
			filter: brightness(0) invert(100%)
			transform: rotate(180deg)


.accord-content
	display: none

.accord-content-inner
	padding: 35px





// cust-inp
.cust-inp,
.cust-textarea
	display: block
	padding: 0
	margin: 0
	margin-bottom: 15px
	span
		display: block

	input
		appearance: none
		border-radius: 0
		display: block
		padding: 13px 20px 10px
		width: 100%
		height: 50px
		font-size: 15px
		line-height: 1
		//line-height: 50px
		border: 1px solid $bdc
		transition: .3s
		color: $text

	textarea
		appearance: none
		border-radius: 0
		display: block
		padding: 13px 20px
		width: 100%
		height: 130px
		font-size: 15px
		line-height: 1.5
		border: 1px solid $bdc
		transition: .3s
		color: $text
		resize: none


	*::placeholder
		transition: .3s
		color: #999
	*:focus
		border-color: $main
		&::placeholder
			opacity: 0


// upload input
.upload-field
	margin-bottom: 15px
	
	.field-notice
		font-size: 15px
		color: #222

.upload-doc
	position: relative
	&:not(.empty)
		.upload-ic
			display: none

	&.empty
		.clear-btn
			display: none

		.upload-txt-btn
			color: #637A85
			
	.upload-input
		position: absolute
		z-index: -2
		width: 0
		height: 0
		opacity: 0
	
	.clear-btn
		position: absolute
		z-index: 5
		right: 0
		bottom: 0
		display: inline-block
		width: 60px
		height: 50px
		background-repeat: no-repeat
		background-position: center
		background-size: 16px
		background-image: url("../img/_style/_svg/close.svg")
		transition: .2s
		cursor: pointer
		&:hover
			opacity: .75

.upload-txt-btn
	display: flex
	align-items: center

	height: 50px
	border: 1px solid $bdc
	background-color: #fff
	padding: 8px 60px 5px 20px
	cursor: pointer
	transition: .3s
	position: relative
	color: $text
	font-size: 15px
	line-height: 1.5
	.upload-ic
		position: absolute
		right: 0
		top: 0

.upload-ic
	width: 60px
	height: 50px
	background-image: url("../img/_style/_svg/upload.svg")





// Cust-sel
.cust-sel
	display: block
	padding: 0
	margin: 0
	margin-bottom: 15px
	position: relative
	//> span:not(.sel-title)

	.wpcf7-form-control-wrap
		display: block
		position: static

	.select2
		width: 100% !important
		display: block
		position: relative
		.selection
			//display: block
			display: table
			width: 100%

		.select2-selection__placeholder
			color: #999

		//&.select2-container--below
		&.select2-container--above
			~ .select2-container
				.select2-dropdown
					border-bottom-left-radius: 0 !important
					border-bottom-right-radius: 0 !important
					border-top-left-radius: 25px
					border-top-right-radius: 25px
					border-top: 1px solid $bdc
					border-bottom: none

		&.select2-container--open
			z-index: 9999
			.select2-selection__arrow
				transform: rotate(180deg)


			.select2-selection
				border-color: $main !important
				&.select2-selection--multiple
					&::after
						transform: rotate(180deg)

			~ .select2-container
				.select2-dropdown
					margin-top: 0

	.select2-selection
		height: auto
		border-radius: 0
		border: 1px solid $bdc !important
		cursor: pointer
		width: 100%

		// display: flex
		// align-items: center
		// min-height: 50px
		// padding: 5px 50px 5px 20px

		display: table-cell
		vertical-align: middle
		height: 50px
		padding: 6px 50px 4px 20px

		&.select2-selection--multiple
			//padding-top: 1px
			&::after
				content: ''
				display: block
				position: absolute
				width: 50px
				top: 1px
				right: 1px
				bottom: 1px
				background-image: url("../img/_style/_svg/arr_dn.svg")
				background-size: 16px 16px
				background-repeat: no-repeat
				background-position: center
				transition: .3s

			.select2-search--inline
				line-height: 0
				.select2-search__field
					margin-top: 0 !important
					padding-top: 10px
					line-height: 0
		.select2-selection__choice
			margin-top: 7px
			margin-right: 7px


	.select2-search__field
		margin-top: 4px !important
		cursor: pointer

	.select2-selection__rendered
		padding: 0 !important
		line-height: inherit !important
		color: inherit !important

	.select2-selection__arrow
		height: auto !important
		width: 50px !important
		bottom: 1px
		background-image: url("../img/_style/_svg/arr_dn.svg")
		background-size: 16px 16px
		background-repeat: no-repeat
		background-position: center
		transition: .3s
		b
			display: none


	.select2-dropdown
		border: 1px solid $bdc
		border-top: none
		margin-top: -15px
		transition: .3s margin

	.select2-results__options
		max-height: 300px !important

	.select2-results__option
		padding: 6px 20px
		border-bottom: 1px solid #eee
		transition: .25s
		background-color: #fff !important
		color: $text !important
		&:last-child
			border-bottom: none
		&:hover
			background-color: $main !important
			color: #fff !important

		&[aria-selected$="true"]
			background-color: #eee !important
			&:hover
				cursor: default
				color: $text !important




// cust checkbox
.check-lst
	color: inherit
	margin-bottom: 15px
	.cust-check,
	.wpcf7-list-item
		margin-right: 40px
		&:last-child
			margin-right: 0



.cust-check,
.check-lst .wpcf7-list-item,
.policy-field .wpcf7-list-item
	position: relative
	display: inline-flex
	cursor: pointer
	user-select: none
	label
		cursor: pointer
		display: block
		margin: 0

	input
		position: absolute
		z-index: -1
		width: 0
		height: 0
		opacity: 0
		&:checked
			~ .check-ic,
			~ .wpcf7-list-item-label::before
				background-image: url("../img/_style/_svg/check.svg")
		
		&[type=radio]
			~ .check-ic,
			~ .wpcf7-list-item-label::before
				border-radius: 10em
				background-image: none

			&:checked
				~ .check-ic,
				~ .wpcf7-list-item-label::before
					background-color: $text
					border: 7px solid #fff
					box-shadow: 0 0 0 1px $bdc


.check-lst .wpcf7-list-item-label,
.policy-field .wpcf7-list-item-label
	position: relative
	&::before
		content: ''

.check-ic,
.check-lst .wpcf7-list-item-label::before,
.policy-field .wpcf7-list-item-label::before
	position: absolute
	left: 0
	top: 1px
	display: block
	width: 24px
	height: 24px
	border: 1px solid $bdc
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	transition: none !important

.check-title,
.check-lst .wpcf7-list-item-label,
.policy-field .wpcf7-list-item-label
	display: block
	padding-left: 35px
	a
		color: #2490F2
		text-decoration: underline
		&:hover
			text-decoration: none


.radio-lst
	@extend .check-lst

.cust-radio
	@extend .cust-check

.radio-ic
	@extend .check-ic

.radio-title
	@extend .check-title

















// modal
.modal
	padding-left: 15px !important
	padding-right: 15px !important

	.modal-dialog
		margin-left: auto !important
		margin-right: auto !important
	.modal-content

	.modal-content
		// border: none
		// border-radius: 0

.modal-top
	height: 25px
	.close
		position: absolute
		z-index: 10
		top: 15px
		right: 15px
		appearance: none
		border: none
		background-color: transparent
		display: inline-block
		width: 30px
		height: 30px
		background-image: url("../img/_style/_svg/close.svg")
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		cursor: pointer
		outline: none !important
		background-size: 20px
		&:hover
			opacity: .75

.modal-body
	text-align: center

.modal-title
	margin-bottom: 25px
