//@import "_bourbon/bourbon"
@import "_header"

// Main Styles =========================


// Home =========================
.home-slider-wrap
	position: relative

.slick-arrow
	position: absolute
	top: 50%
	transform: translate(0,-50%)
	z-index: 10
	width: 40px
	height: 40px
	background-color: $main
	cursor: pointer
	transition: .3s background-color
	background-position: center
	background-repeat: no-repeat
	background-size: 25px
	overflow: hidden
	color: transparent
	border: none
	outline: none !important
	&:hover
		background-color: darken($main, 10%)

.slick-prev
	left: 0
.slick-next
	right: 0


.container-fluid
	padding-left: 140px
	padding-right: 140px



// .img-svg
// 	width: 600px
// 	margin: 0 auto
// 	svg
// 		display: block
// 		width: 100% !important
// 		height: auto !important

// 	svg,
// 	g,
// 	path


// Promo

.promo
	height: 600px
	background: bottom center/cover no-repeat

.sect-txt
	margin-top: 50px

	p
		line-height: 1.5

	h2
		text-align: center
		text-transform: uppercase
		margin-top: 10px

	ol
		li
			list-style: decimal inside




// Style main page product list

.woocommerce-ordering
	position: relative
	&::after
		content: ""
		position: absolute
		right: 0
		bottom: 0
		width: 50px
		height: 100%
		background: url(../img/_style/_svg/arr_dn.svg) no-repeat
		background-image: url(../img/_style/_svg/arr_dn.svg);
		background-size: 16px 16px
		background-repeat: no-repeat
		background-position: center
		pointer-events: none
		transition: 0.3s

.orderby
	position: relative
	// background-color: #f3f3f3
	border: 1px solid #e5e5e5
	box-shadow: none
	appearance: none
	padding: 5px 10px 4px 15px
	padding-right: 50px
	cursor: pointer

.woocommerce

	.pswp
		z-index: 5010
		.pswp__bg
			opacity: .85 !important
		.pswp__caption__center
			text-align: center

	.step-nav.nav-wizard
		margin-top: 35px

	#customer_details
		.col-2
			.woocommerce-shipping-fields
				.shipping_address
					.woocommerce-shipping-fields__field-wrapper
						.form-row-first,
						.form-row-last
							width: auto
							float: none
						label
							width: 37%
						.woocommerce-input-wrapper
							width: 63%
							#shipping_address_1,
							#shipping_address_2
								padding-left: 5px
								padding-top: 3px
						#shipping_address_2_field
							justify-content: flex-end

	.woocommerce-order
		margin-top: 50px

		.woocommerce-customer-details
			.col-1,
			.col-2
				max-width: 100%
				width: 48%

		.woocommerce-bacs-bank-details
			display: inline-block
			margin-bottom: 40px
			padding: 10px
			border: 1px solid #000
			.bacs_details
				margin: 10px 0 0

	.step-wrapper
		.woocommerce-gzdp-multistep-privacy-policy-checkbox-text,
		.woocommerce-form__label-for-checkbox
			a
				text-decoration: underline
		.edit.step-trigger
			text-decoration: underline


	#customer_login
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		.col-1,
		.col-2
			max-width: 100%
			width: 48%
			flex: 0 0 auto
			display: flex
			flex-direction: column
			h2
				margin-bottom: 2rem
			form
				margin-top: auto
				min-height: 300px
			label
				margin-bottom: 0
				&.woocommerce-form-login__rememberme
					margin-right: 15px
			.password-input
				margin-left: 15px
			.show-password-input
				top: 0.5rem
			#german_market_privacy_declaration
				margin-right: 10px
		.col-2
			width: 50%
	.woocommerce-MyAccount-content
		.woocommerce-form-row
			label
				margin-right: 10px
		.woocommerce-Address
			margin-top: 15px
			max-width: 50%
			width: 48%
			padding: 0



	.woocommerce-result-count
		margin: 0
		margin-top: 6px
		color: $accent
	ul
		&.products
			margin-right: -30px !important
			display: flex
			flex-wrap: wrap
			li
				&.product
					position: relative
					margin: 30px 25px 30px 0 !important
					width: calc(25% - 25px) !important
					background-color: #f3f3f3
					padding-bottom: 70px
					transition: .3s
					border-radius: 8px
					&:hover
						box-shadow: 0px 10px 20px 0px rgba(4, 10, 46, 0.1)
					a:not(.button)
						display: block
						padding: 13px 15px 0
						img
							// width: 255px
							width: 100%
							height: 225px
							object-fit: cover
							border-radius: 8px
							background-color: #fff

					.woocommerce-loop-product__link
						height: 78%

					.onsale
						margin: 0
						top: 18px
						right: 20px
					.woocommerce-loop-product__title
						padding: 0
						margin-bottom: 10px
						font-size: 22px
						color: $accent
						word-wrap: break-word
					.price
						color: $accent
						font-size: 18px
						display: flex
						// justify-content: space-between
					.button
						position: absolute
						bottom: 20px
						margin: 0 0 0 15px
						border-radius: 56px
						padding: 12px 20px
						background-color: $accent
						color: #fff
						font-size: 16px
						text-align: center
						&:hover
							background-color: $main
					.tax-info
						padding-left: 15px
						display: inline-block
						margin-top: 5px
					.shipping-costs-info
						margin-top: 5px
						font-size: 16px
						display: inline-block
						padding-left: 3px
						a
							display: inline-block
							padding: 0
							// padding-left: 5px
							text-decoration: underline
					.delivery-time-info
						padding-left: 15px
						margin-top: 5px
					// .added_to_cart
						// padding: 0
						// padding-left: 15px
	span
		&.onsale
			min-height: 0
			min-width: 0
			padding: 10px 15px
			background-color: $main
			border-radius: 50%
			text-align: center
			font-weight: 400
			font-size: 16px
			line-height: 1
			border-radius: 8px


.woocommerce-Tabs-panel--description
	a
		text-decoration: underline
	ul
		li
			list-style-type: disc
			list-style-position: inside
	ol
		li
			list-style-type: decimal
			list-style-position: inside

.summary.entry-summary
	a
		text-decoration: underline

.woocommerce nav
	&.woocommerce-pagination
		margin-top: 20px
		display: flex
		justify-content: center
		align-items: center
		ul
			border: none
			li
				border: none
				margin: 0 5px
				.page-numbers
					padding: 2px 0 2px 1px
					width: 40px
					height: 40px
					line-height: 40px
					border-radius: 50%
					background-color: $bdc
					color: $accent
					&:hover
						background-color: $accent
						color: #fff
					&.current
						background-color: $main
						color: #fff

.products-categories
	text-align: center
	ul
		&.products
			display: flex
			// align-items: flex-start
			align-items: stretch
			justify-content: center
			margin-top: 50px
			li
				&.product-category
					&.product
						margin: 0
						padding-bottom: 20px
	mark
		background: none

.main-products-section
	padding: 30px 0 40px 0


// Style 404 page

.not-found-wrap
	padding-top: 200px

.not-found
	text-align: center
	h1
		font-family: Calibri_Bold, sans-serif
		font-size: 80px
	.btn
		background-color: $main
		color: #fff
		border-radius: 25px
		&:hover
			background-color: #fff
			color: $main

// Cart page

.cart-section
	padding-top: 100px

.woocommerce
	table
		&.cart
			td
				&.actions
					.coupon
						.input-text
							width: 200px
							margin-right: 30px
							padding: 8px
							padding-left: 10px
					.button
						background-color: $accent
						color: #fff
						border: 1px solid $accent
						border-radius: 30px
						padding-top: 13px
						transition: 0.3s
						&:hover
							background-color: #fff
							color: $accent
							border: 1px solid $accent
				&.product-remove
					a.remove
						color: $main !important
						&:hover
							background: none
	.cart-collaterals
		.cart_totals
			h2
				font-size: 30px
				margin-bottom: 15px
			.button
				background-color: $main
				border-radius: 35px
				&:hover
					background-color: $accent

	.step-wrapper-3
		margin-bottom: 100px
		#place_order
			margin-right: 0
			margin-left: auto
		.step-buttons
			margin-top: -45px

// Message

.woocommerce-message
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	border-top-color: $accent
	&::before
		color: $accent
		top: 18px
	a
		order: 1
		color: $main
		text-decoration: underline
		margin-left: 15px
		&.wc-forward
			background-color: $accent
			color: #fff
			border-radius: 20px
			&:hover
				background-color: $main
				color: #fff

.woocommerce-info
	margin-top: 30px
	border-top-color: $accent
	&::before
		color: $accent
	a
		margin-left: 15px
		color: $main
		text-decoration: underline

.woocommerce-error
	border-top-color: $main
	margin-top: 30px
	&::before
		color: $main

.woocommerce
	.quantity
		.qty
			background-color: #f3f3f3
			border: 1px solid #eee
			padding-left: 15px

a.button.added
	&::after
		font-size: 14px !important
		vertical-align: middle !important

html.touch
	.qty
		padding-left: 0 !important

.added_to_cart
	&.wc-forward
		position: absolute
		bottom: 27px
		right: 20px
		overflow: hidden
		width: 25px
		height: 25px
		background: url(../img/_style/_svg/shopping-cart-solid.svg) no-repeat
		color: rgba(0, 0, 0, 0) !important




// Checkout section

.checkout-section
	.checkout
		padding-bottom: 50px
		.col2-set
			margin-bottom: 50px
			.col-1
				max-width: 50%
				width: 48%
				flex: 0 0 auto
				.woocommerce-billing-fields__field-wrapper
					margin-top: 20px
					label
						width: 100%
						margin: 0
					.woocommerce-input-wrapper
						width: 100%
						input
							margin-bottom: 10px
							appearance: none
							border-radius: 0
							display: block
							padding: 13px 20px 10px
							width: 100%
							height: 50px
							font-size: 18px
							line-height: 1
							border: 1px solid #e5e5e5
							transition: .3s
							color: #000
							&:focus
								border-color: $main
						.select2-selection
							margin-bottom: 10px
							appearance: none
							border-radius: 0
							display: block
							padding: 13px 20px 10px
							width: 100%
							height: 50px
							font-size: 18px
							line-height: 1
							border: 1px solid #e5e5e5
							transition: .3s
							color: #000
							&:focus
								border-color: $main
							.select2-selection__arrow
								height: auto !important
								width: 50px !important
								bottom: 10px
								background-image: url(../img/_style/_svg/arr_dn.svg)
								background-size: 16px 16px
								background-repeat: no-repeat
								background-position: center
								transition: .3s
								b
									display: none
					.form-row
						width: 100%
			.col-2
				max-width: 50%
				width: 50%
				flex: 0 0 auto
				.woocommerce-additional-fields__field-wrapper
					margin-top: 20px
					label
							margin: 0
					.woocommerce-input-wrapper
						width: 100%
						textarea
							padding: 10px
							resize: none
							appearance: none
							border-radius: 0
							display: block
							padding: 13px 20px 10px
							width: 100%
							height: 246px
							font-size: 18px
							line-height: 1
							border: 1px solid #e5e5e5
							transition: .3s
							color: #000
		#order_review_heading
			margin-bottom: 20px

.checkout_coupon
	input
		margin-bottom: 10px
		appearance: none
		border-radius: 0
		display: block
		padding: 13px 20px 10px
		width: 100%
		height: 50px
		font-size: 18px
		line-height: 1
		border: 1px solid #e5e5e5
		transition: .3s
		color: #000
		&:focus
			border-color: $main
	button
		&.button
			color: #fff
			outline: none
			background-color: $accent
			border-radius: 25px
			padding: 15px 30px
			transition: .3s
			&:hover
				background-color: $main
				color: #fff

.woocommerce
	button
		&.button
			&.alt
				outline: none
				background-color: $main
				border-radius: 25px
				padding: 15px 30px
				transition: .3s
				&:hover
					background-color: $accent

// Product page

.product-category-section
	padding-top: 40px

.product-single-section
	padding-top: 40px
	.woocommerce-breadcrumb
		margin-bottom: 20px
	.woocommerce-product-gallery
		max-width: 40% !important
		object-fit: contain
	.product
		.summary
			&.entry-summary
				max-width: 60%
				width: 55%
				.cart
					button
						margin-left: 20px
						padding: 9px 30px 8px
						outline: none
						transition: .3s
				.product_title
					font-size: 50px
					margin-bottom: 10px
				.price
					ins
						.woocommerce-Price-amount
							margin-left: 30px

.woocommerce-tabs
	h2
		font-size: 35px
	.tabs
		border: none !important
		display: flex
		overflow-x: scroll !important
		&::before
			border-bottom: 1px solid $main !important
		li
			&.active
				border: 1px solid $main !important
				border-bottom: 1px solid #fff !important
				&::before,
				&::after
					border: none !important
			&::before
				left: 0 !important
				border: none !important
			&::after
				right: 0 !important
				border: none !important

.product_meta
	.tagged_as
		margin-left: 20px

.related
	&.products
		h2
			font-size: 35px

// Modal

.modal-body
	padding: 40px 30px 30px
	label
		text-align: left
		display: block
	.wpcf7-submit
		margin-top: 20px
		margin-left: 70px
		background-color: $main
		color: #fff
		border: none
		border-radius: 25px
		padding: 5px 30px
		cursor: pointer
		transition: .3s
		&:hover
			background-color: $accent
	.cust-inp input,
	.cust-textarea input,
	.cust-textarea textarea
		font-size: 18px
	.wpcf7-list-item-label
		a
			color: $main
			text-decoration: underline
	.select2-selection
		&.select2-selection--single
			text-align: left

.select2-results__option--highlighted
	background-color: $accent !important

.wpcf7-list-item
	margin-left: 0 !important








// Footer ================================
.main-foot
	color: inherit
	background-color: #040a2e

.inner-foot
	@extend .main-foot

.foot-line
	min-height: 130px
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	padding: 18px 0
.foot-cell
	width: 50%
	color: #fff
	font-size: 18px
	p
		margin: 0
 
.address-wrap
	padding: 0 15px

.contacts-wrap
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-end

.social-wrap
	a
		margin-left: 15px
		color: #fff
		img
			height: 30px
			width: 30px
			filter: brightness(0) invert(1)
		&:hover
			text-decoration: none
			img
				filter: none

.foot-nav
	margin-top: 16px
	a
		padding-left: 5px
	a:not(:last-child)
		border-right: 1px solid #fff
		padding-right: 10px





















@import "_fixes"
/* ========================== Media Queries ========================== */
@import "_media"